<div id="guindex_table_content" class="tabcontent" style="display:block">
    <div id="add_new_pub_div">
        <a id="new_pub_modal_open_button" data-description_text="Add a new pub" class="modal_open_button needs_description"> 
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        Add New Pub
    </div>

    <div id="guindex_table_container">

        <div class="search_container">
            <div class="search_icon">
                <i class="fa fa-search search"></i>
            </div>
            <input type="text" class="search_bar" id="pubs_search_bar" placeholder="Search Pubs..." autocomplete="off" maxlength="{{ guindex_parameters.MAX_PUB_NAME_LEN }}"/>
        </div>

        <table align="left" id="guindex_table" class="guindex_table"> 
            <colgroup>
                <col style="width:20%">
                <col style="width:16%">
                <col style="width:16%">
                <col style="width:16%">
                <col style="width:16%">
                <col style="width:16%">
            </colgroup>

            <tr class="first_row">
                <td> <span class="sortable_column_header"> PUB NAME &#9660; </span></td>
                <td> <span class="sortable_column_header decimal_column"> PRICE </span></td>
                <td> <span class="sortable_column_header"> FIRST ADDED BY </span></td>
                <td> <span class="sortable_column_header timestamp_column"> FIRST ADDED DATE </span></td>
                <td> <span class="sortable_column_header"> LAST VERIFIED BY </span></td>
                <td> <span class="sortable_column_header timestamp_column"> LAST VERIFIED DATE </span></td>
            </tr>

            <!-- TODO Populate this with javascript -->

            <tr id="guindex_table_last_row" class="last_row">
                <td colspan="6" align="center"> No Pubs </td>
            </tr>
        </table>

    </div>
</div>
