<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title> {{ user_profile_parameters.PROJECT_TITLE }} | {{ user_profile.user.username }} </title>
        <link rel="stylesheet" type="text/css" href="{% static "css/global.css" %}" /> 
        <link rel="stylesheet" type="text/css" href="{% static "css/guindex.css" %}" /> 
        <link rel="stylesheet" type="text/css" href="{% static "css/index_page_animation.css" %}" /> 
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="icon" href="{% static "images/favicon.png" %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="{% static "javascript/modals_utils.js" %}" defer></script>
        <script type="text/javascript" src="{% static "javascript/loader.js" %}" defer></script>
        <script type="text/javascript" src="{% static "javascript/tabs.js" %}" defer></script>
        <script type="text/javascript" src="{% static "javascript/dropdown.js" %}" defer></script>
        <script type="text/javascript" src="{% static "javascript/add_guinness.js" %}" defer></script>
        <script type="text/javascript" src="{% static "javascript/rename_pub.js" %}" defer></script>
        <script type="text/javascript" src="{% static "javascript/delete_pub.js" %}" defer></script>
        <script type="text/javascript" src="{% static "javascript/close_pub.js" %}" defer></script>
        <script type="text/javascript" src="{% static "javascript/not_serving.js" %}" defer></script>
        <script type="text/javascript" src="{% static "javascript/verify_guinness.js" %}" defer></script>
        <script type="text/javascript" src="{% static "javascript/search.js" %}" defer></script>
        <script type="text/javascript" src="{% static "javascript/sorting.js" %}" defer></script>
        <script type="text/javascript" src="{% static "javascript/alert_switches.js" %}" defer></script>
        <script type="text/javascript" src="{% static "javascript/cookie.js" %}"> </script>
        <script type="text/javascript" src="{% static "javascript/guindex_map.js" %}"> </script>
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113016256-1"></script>
    <script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-113016256-1');
    </script>

        
    </head>

    <header id="main_menu" class="header navbar-fixed-top">
	    <div class="main_menu_bg">
                <ul class="navbar" id="guindex_table_navbar">
                   <a href="../" class="class1">Overview</a>
                   <a href="../map/" class="class1">Map</a>
                    <a href="../statistics/" class="class1">Statistics</a>
                    <a href="../analysis/" class="class1">Analysis</a>
                    <a href="../info/" class="class1">About</a>
                    <a href="/logout/" class="class1">Logout</a>

                    {% if pending_contributions and user_profile.user.is_staff %}

                        <a href="/pending_contributions/" 
                           class="blink class1" 
                           id="pending_contributions_notification_link"> 
                            Pending Contributions
                        </a>

                    {% elif user_profile.user.is_staff %}
                        <a href="/pending_contributions/" 
                           style="visibility:hidden"
                           class="blink class1" 
                           id="pending_contributions_notification_link"> 
                            Pending Contributions
                        </a>

                        <script>
                            
                            var checkPendingContributions = function ()
                            {
                                // Check if there are pending contributions to check
                                var request = new XMLHttpRequest();
                                request.open('GET', '/are_pending_contributions/', true); 

                                request.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                                request.setRequestHeader('Content-Type', 'application/json');
                                request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

                                request.send(null);

                                request.onreadystatechange = processRequest;

                                function processRequest()
                                {
                                    if (request.readyState == 4 && request.status == 200)
                                    {
                                        if (JSON.parse(request.responseText)['arePendingContributions'])
                                        {
                                            // If there are pending contributions, display notification
                                            document.getElementById('pending_contributions_notification_link').style.visibility = 'visible';
                                        }    
                                        else
                                        {
                                            // If there are no pending contributions, hide notification
                                            document.getElementById('pending_contributions_notification_link').style.visibility = 'hidden';
                                        }
                                    }
                                }
                            }

                            // Check pending contributions every 10 seconds
                            setInterval(checkPendingContributions, 10000);

                        </script>

                    {% endif %}
                </ul>
                </div>
            </div>
    </header>

    <body>
    
        {% if modal_to_display == "" %}

            <!-- If no modal to display, display loading screen -->
            <div id="loading_background">

                <div id="main_loader_container">
                    <div class="loader" id="main_guindex_loader"> </div>
                    <div class="loading_text"> Loading Guindex ... </div>
                </div>

            </div>
            

            <!-- Hide loading background when page loads -->
            <script>

                window.addEventListener("load", function(){
                    $("#loading_background").fadeOut("slow", "linear", function() {});
                });

            </script>

        {% endif %}

	<div id="bigshiftedcontainer">

        {% include "guindex_controls.html" %}

        {% include "new_pub_form.html" %}
        {% include "new_guinness_form.html" %}
        {% include "verify_guinness_form.html" %}
        {% include "close_pub_form.html" %}
        {% include "not_serving_form.html" %}

        {% if modal_to_display == "warning" %}
            {% include "warning.html" %}
        {% endif %}

        <div id="centered_content_div">

            <div id="tab_content_container">
                {% include "guindex_table.html" %}
                {% include "user_contributions.html" %}
                {% include "user_settings.html" %}
            </div>

        </div>
       </div> 
    </body>

</html>
