<div id="guindex_table_content" class="tabcontent" style="display:block">
    <div id="add_new_pub_div">
        <a id="new_pub_modal_open_button" data-description_text="Add a new pub" class="modal_open_button needs_description"> 
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        Add New Pub
    </div>

    <div id="guindex_table_container">

        <div class="search_container">
            <div class="search_icon">
                <i class="fa fa-search search"></i>
            </div>
            <input type="text" class="search_bar" id="pubs_search_bar" placeholder="Search Pubs..." autocomplete="off" maxlength="{{ guindex_parameters.MAX_PUB_NAME_LEN }}"/>
        </div>

        <table align="left" id="guindex_table" class="guindex_table"> 
            <colgroup>
                <col style="width:20%">
                <col style="width:16%">
                <col style="width:16%">
                <col style="width:16%">
                <col style="width:16%">
                <col style="width:16%">
            </colgroup>

            <tr class="first_row">
                <td> <span class="sortable_column_header"> PUB NAME &#9660; </span></td>
                <td> <span class="sortable_column_header decimal_column"> PRICE </span></td>
                <td> <span class="sortable_column_header"> FIRST ADDED BY </span></td>
                <td> <span class="sortable_column_header timestamp_column"> FIRST ADDED DATE </span></td>
                <td> <span class="sortable_column_header"> LAST VERIFIED BY </span></td>
                <td> <span class="sortable_column_header timestamp_column"> LAST VERIFIED DATE </span></td>
            </tr>

            {% for pub in pubs %} 
            <tr>

                <!-- PUB NAME CELL -->
                <td>
                    <span class="pub_name">
                      {% if pub.closed %}
                        <a href="{{ pub.map_link }}" target="_blank" style="text-decoration:line-through" class="pub_link needs_description" data-description_text="Pub is closed">

                            <span class="payload">{{ pub.name }}</span>
                        </a>
                        {% elif not pub.serving_guinness %}
                        <a href="{{ pub.map_link }}" target="_blank" style="text-decoration:line-through" class="pub_link needs_description" data-description_text="Pub does not serve Guinness">
                            <span class="payload" >{{ pub.name }}</span>
                        </a>
                        {% else %}
                        <a href="{{ pub.map_link }}" target="_blank" class="pub_link">
                                <span class="payload">{{ pub.name }}</span>
                        </a>
                        {% endif %}

                    </span>
                    {% if not pub.closed and pub.serving_guinness %}
                    <div class="edit_button_container">
                    
                        <div class="guindex_button_container">
                            <i class="fa fa-pencil-square-o rename_pub_button needs_description"
                               data-description_text="Rename pub"
                               data-pub_id="{{ pub.id }}"
                               data-pub_name="{{ pub.name}}"
                               aria-hidden="true">
                            </i>
                        </div>

                        <div class="guindex_button_container">
                            <i class="fa fa-close close_pub_button needs_description"
                               data-description_text="Mark pub as closed"
                               data-pub_id="{{ pub.id }}"
                               data-pub_name="{{ pub.name}}"
                               aria-hidden="true">
                            </i>
                        </div>

                        <div class="guindex_button_container">
                            <i class="fa fa-thumbs-o-down not_serving_guinness_button needs_description"
                               style="text-decoration: line-through"
                               data-description_text="Mark pub as not serving guinness"
                               data-pub_id="{{ pub.id }}"
                               data-pub_name="{{ pub.name}}"
                               aria-hidden="true">
                            </i>
                        </div>

                        <div class="guindex_button_container">
                            <i class="fa fa-trash-o delete_pub_button needs_description"
                               data-description_text="Delete pub"
                               data-pub_id="{{ pub.id }}"
                               data-pub_name="{{ pub.name}}"
                               aria-hidden="true">
                            </i>
                        </div>

                    </div>
                    {% endif %}
                </td>

                <!-- CURRENT PRICE CELL -->
                <td>
                    <span class="guinness_price">
                        {% if pub.last_guinness %}
                            &euro;<span class="payload">{{ pub.last_guinness.price }}</span>
                        {% else %}
                            <span class="payload"> TBD </span>
                        {% endif %}
                    </span>

                    <div class="guinness_price_container">

                        {% if not pub.closed and pub.serving_guinness %}
                            <div class="guindex_button_container">
                                <i class="fa fa-plus new_guinness_button needs_description"
                                   data-description_text="Add new Guinness price for this pub"
                                   data-pub_id="{{ pub.id }}"
                                   data-pub_name="{{ pub.name}}"
                                   aria-hidden="true">
                                </i>
                            </div>

                            {% if pub.last_guinness %}
                            <div class="guindex_button_container">
                                <i class="fa fa-check verify_guinness_button needs_description"
                                   data-description_text="Verify current price"
                                   data-pub_id="{{ pub.id }}"
                                   data-pub_name="{{ pub.name}}"
                                   data-pub_price="{{ pub.last_guinness.price }}"
                                   aria-hidden="true">
                                </i>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </td>

                <!-- FIRST ADDED BY CELL -->
                <td>
                    {% if pub.first_guinness %}
                        <span class="payload" class="needs_description" data-description_text="First added with a price of &euro {{ pub.first_guinness.creator }}.">{{ pub.first_guinness.creator }}</span>
                    {% else %}
                        <span class="payload"> TBD </span>
                    {% endif %}
                </td>

                <!-- FIRST ADDED DATE CELL -->
                <td>
                    {% if pub.first_guinness %}
                        <span class="payload">{{ pub.first_guinness.creationDate|date:"D d M Y" }}</span>
                    {% else %}
                        <span class="payload"> TBD </span>
                    {% endif %}
                </td>

                <!-- LAST VERIFIED BY CELL -->
                <td>
                    {% if pub.last_guinness %}
                        <span class="payload">{{ pub.last_guinness.creator }}</span>
                    {% else %}
                        <span class="payload"> TBD </span>
                    {% endif %}
                </td>

                <!-- LAST VERIFIED DATE CELL -->
                <td>
                    {% if pub.last_guinness %}
                        <span class="payload">{{ pub.last_guinness.creationDate|date:"D d M Y" }}</span>
                    {% else %}
                        <span class="payload"> TBD </span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}

            {% if pubs|length > 0 %}
            <tr id="guindex_table_last_row" style="display:none" class="last_row">
            {% else %}
            <tr id="guindex_table_last_row" class="last_row">
            {% endif %}
                <td colspan="6" align="center"> No Pubs </td>
            </tr>
        </table>

    </div>
</div>
