<div id="user_contributions_content" class="tabcontent">

    <table align="center" id="user_contributions_table" class="guindex_table"> 
        <colgroup>
            <col style="width:50%">
            <col style="width:50%">
        </colgroup>

        <tr>
            <td colspan="2" align="center" class="contributions_table_header"> Personal Contributions </td>
        </tr>

        <tr>
            <td> Pubs Visited </td>
            <td id="personal_pubs_visited_value"> </td>
        </tr>

        <tr>
            <td> Current Verifications </td>
            <td id="personal_current_verifications_value"> </td>
        </tr>

        <tr>
            <td> Original Prices </td>
            <td id="personal_original_prices_value"> </td>
        </tr>

    </table>

    <table align="center" id="best_contributions_table" class="guindex_table"> 
        <colgroup>
            <col style="width:50%">
            <col style="width:50%">
        </colgroup>

        <tr>
            <td colspan="2" align="center" class="contributions_table_header"> Best Contributors </td>
        </tr>

        <tr>
            <td> Pubs Visited </td>
            <td id="most_pubs_visited_value"> </td>
        </tr>

        <tr>
            <td> Current Verifications </td>
            <td id="most_current_verifications_value"> </td>
        </tr>

        <tr>
            <td> Original Prices </td>
            <td id="most_original_prices_value"> </td>
        </tr>

    </table>

</div>
