<div id="user_settings_content" class="tabcontent">

    <table align="center" id="user_settings_table" class="guindex_table"> 
        <colgroup>
            <col style="width:50%">
            <col style="width:50%">
        </colgroup>

        <tr>
            <td class="needs_description" data-description_text="Receive alerts via email when new prices are added"> 
                Email Alerts
            </td>
            <td>
				<label class="switch">
                    <input type="checkbox" id="email_checkbox" class="alerts_checkbox">
                	<div id="email_switch" class="slider round"> </div>
              	</label>
            </td>
        </tr>

        <tr>
            <td class="needs_description" data-description_text="Receive alerts via Telegram when new prices are added (read Telegram Activation email for more info)"> 
                Telegram Alerts
            </td>
            <td>
				<label class="switch">
                    <input type="checkbox" id="telegram_checkbox" class="alerts_checkbox">
                	<div id="telegram_switch" class="slider round"> </div>
              	</label>
            </td>
        </tr>

    </table>

    <!-- Click switches if required -->
    <script>
        
        {% if using_email_alerts %}
            document.getElementById('email_checkbox').click();
        {% endif %}

        {% if using_telegram_alerts %}
            document.getElementById('telegram_checkbox').click();
        {% endif %}
    </script>

</div>
