*.pyc
*.sqlite3
*.swp
*pb2.py
secrets.py
*.db
aclocal.m4
autom4te.cache
config.log
config.status
configure
COPYING
INSTALL
install-sh
Makefile
Makefile.in
setup.py
missing
build
dist
Guindex.egg-info/
build_guindex_rpm.sh
*.spec
rpmbuild/RPMS/
rpmbuild/SRPMS/
guindex_*.min.js
