{% if modal_to_display == "not_serving_form" %}
<div id="not_serving_modal" class="modal" style="display:block;">
{% else %}
<div id="not_serving_modal" class="modal" style="display:none;">
{% endif %}
    <div class="modal-content">
        <form method="post" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="modal-header">
                <span class="close modal_close_button">×</span>
                <h2>Not Serving Guinness</h2>
            </div>

            <div class="modal-body">
                
                <p> You are about to mark the pub <span id="pub_name" style="font-weight: 900"></span> as not not serving Guinness.
                <p> Click to confirm. </p>

                <input type="hidden" name="pub_id" id="pub_id" value=""/ style="display: none">
              
            </div>
            <div class="modal-footer">

                <div class="loader" id="not_serving_guinness_button_loader"> </div>
                <input type="submit" value="Confirm" name="not_serving_guinness" id="not_serving_guinness_button" class="button_with_loader">
            </div>
        </form>
    </div>
</div>
