<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/global.css" %}" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald">
    </head>

    <body>

        <h1> {{ user_profile_parameters.PROJECT_TITLE }} </h1>

        <div class="content_div">
            <p> Hello {{ user_profile.user.username }}, </p>

            <p> Your below new pub submission has been {{ new_pub.approved }}: </p>

            <br>

            <p> Pub Name: {{ new_pub.name }}</p>
            <p> Latitude: {{ new_pub.latitude }}</p>
            <p> Longitude: {{ new_pub.longitude }}</p>
            <p> Time: {{ new_pub.creationDate }}</p>

            {% if new_pub.reason %}
                <p> Reason: {{ new_pub.reason }} </p>
            {% endif %}

            <br>

            <p> Regards, </p>
            <p> {{ user_profile_parameters.PROJECT_TITLE }} Team </p>

        </div>

    </body>

</html>
