<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/global.css" %}" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald">
    </head>

    <body>

        <h1> {{ user_profile_parameters.PROJECT_TITLE }} </h1>

        <div class="content_div">
            <p> Hello {{ user_profile.user.username }}, </p>

            <p> Your below pub not serving Guinness submission has been {{ pub.approved }}: </p>

            <br>

            <p> Pub Name: {{ pub.name }}</p>
            <p> Time: {{ pub.creationDate }}</p>

            {% if pub.reason %}
                <p> Reason: {{ pub.reason }} </p>
            {% endif %}

            <br>

            <p> Regards, </p>
            <p> {{ user_profile_parameters.PROJECT_TITLE }} Team </p>

        </div>

    </body>

</html>
