<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/global.css" %}" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald">
    </head>

    <body>

        <h1> {{ user_profile_parameters.PROJECT_TITLE }} </h1>

        <div class="content_div">
            <p> Hello {{ user_profile.user.username }}, </p>

            <p> The following pub was marked as closed by a non-staff member: </p>

            <br>

            <p> Pub Name: {{ closed_pub.name }}</p>
            <p> Contributor: {{ closed_pub.creator }}</p>
            <p> Time: {{ closed_pub.creationDate }}</p>

            <br>

            <p> Please visit {{ closed_pub.pendingContributionsUrl }} to approve the submission. </p>

            <p> Regards, </p>
            <p> {{ user_profile_parameters.PROJECT_TITLE }} Team </p>

        </div>

    </body>

</html>
