<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/global.css" %}" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald">
    </head>

    <body>

        <h1> {{ user_profile_parameters.PROJECT_TITLE }} </h1>

        <div class="content_div">
            <p> Hello {{ user_profile.user.username }}, </p>

            <p> The following event was submitted to the Guindex by a non-staff member: </p>

            <br>

            <p> Pub: {{ new_guinness.name }}</p>
            <p> Price: {{ new_guinness.price }}</p>
            <p> Contributor: {{ new_guinness.creator }}</p>
            <p> Time: {{ new_guinness.creationDate }}</p>

            <br>

            <p> Please visit {{ new_guinness.pendingContributionsUrl }} to approve the submission. </p>

            <p> Regards, </p>
            <p> {{ user_profile_parameters.PROJECT_TITLE }} Team </p>

        </div>

    </body>

</html>
