<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/sb-admin.css" %}">
    <link rel="stylesheet" href="{% static "css/guindex_web_client.css" %}">
    <link rel="stylesheet" href="{% static "css/guindex_web_client.css" %}">
    <link rel="icon" href="{% static "images/favicon.png" %}">
    <script type="text/javascript" src="{% static "javascript/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/jquery.easing.min.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/bootstrap.bundle.min.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/sb-admin.min.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/guindex_globals.js" %}"> </script>
    <script type="text/javascript" src="{% static "javascript/guindex_web_client_utils.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/guindex_main.js" %}"></script>
    <title>Reset Password</title>
    {% block extra_head %}
    {% endblock %}

    <style>
        #password_reset_button {
            width: 250px;
            background-color: black !important;
            color: white;
        }
        #password_reset_button:hover {
            cursor:hand;
            cursor:pointer;
            color:black;
            opacity:0.4;
            color: white;
        }
        #password_reset_content {
            text-align: center;
            position: absolute;
            top: 40%;
        }
        body {
            display: flex;
            justify-content: center;
        }
    </style>
    <script>
    $(document).on('click', '#password_reset_button', function () {
        
        var token     = document.getElementById('token').value;
        var uid       = document.getElementById('uid').value;
        var password1 = document.getElementById('new_password1').value;
        var password2 = document.getElementById('new_password2').value;

        // Use REST API to login to guindex.ie
        var request = new XMLHttpRequest();

        request.open('POST', G_API_BASE + 'rest-auth/password/reset/confirm/', true);

        request.setRequestHeader('Content-Type', 'application/json');
        request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

        post_data = {
            'token': token,
            'uid': uid,
            'new_password1': password1,
            'new_password2': password2,
        }

        request.send(JSON.stringify(post_data));

        var button = this;
        guindex_toggle_loader(button);

        request.onreadystatechange = function processRequest()
        {
            if (request.readyState == 4)
            {
                guindex_toggle_loader(button);
                button.style.display = "inline-block";

                var response = JSON.parse(request.responseText);

                if (request.status >= 200 && request.status < 300)
                {
                    var success_message = "<p> Successfully reset password </p>";
                    var url = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port;

                    success_message += "<p> Click <a href=\"" + url + "\"> here </a> to return to the Guindex and login with your new password </p>";

                    guindex_display_message("Success", success_message);
                }
                else
                {
                    // Display errors
                    var error_message = '<p>Please fix the following error(s): </p>'

                    var error_table = '<table border="1" cellpadding="5" style="margin: 5px auto"><tbody>';

                    error_table += '<tr> <th> Field </th> <th> Error </th> </tr>';

                    Object.keys(response).forEach(function(key) {

                        error_table += '<tr>';

                        error_table += '<td>' + key + '</td>';

                        error_table += '<td>' + response[key] + '</td>';

                        error_table += '</tr>';
                    });

                    error_table += '</tbody></table>';

                    guindex_display_message("Error", error_message + error_table);
                }
            }
        }
    });

    </script>
  </head>
  <body>
    <div id="password_reset_content" style="text-align:center">
	{% load i18n %}
	{% load account %}

	{% block content %}
	<h1>{% trans "Reset Password" %}</h1>

	<form>
        <div class="form-group" style="display:none">
            <div class="form-row">
                <input class="form-control" type="text" id="token" name="token" value="{{ token }}">
            </div>
        </div>
        <div class="form-group" style="display:none">
            <div class="form-row">
                <input class="form-control" type="text" id="uid" name="uid" value="{{ uidb64 }}">
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <label for="new_password1">New password:</label>
                <input class="form-control" type="password" id="new_password1" name="new_password1">
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <label for="new_password2">Re-enter new password:</label>
                <input class="form-control" type="password" id="new_password2" name="new_password2">
            </div>
        </div>
        <a class="btn btn-primary" id="password_reset_button" style="color:white">Submit</a>
        <i class="fa fa-spinner fa-spin guindex_web_client_loader"></i>
	</form>

	{% endblock %}
    </div>

      <a class="nav-link" data-toggle="modal" id="message_link" data-target="#message_modal" style="display:none"></a>

      <div class="modal fade" id="message_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:9999">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="message_severity"></h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="message_body">

            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
