{% load static %}

{% if async_template_loading %}
<div id="analysis_geo_page" class="page_content content-wrapper" style="display:none">
</div>
{% else %}
<div id="analysis_geo_page" class="page_content content-wrapper" style="display:none">
    <div class="container-fluid">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">
               Geographic Variation of Guinness Pricing 
            </div>
            <div class="card-body">

                <p>
		            Here we will attempt to assess and visualise geographic trends in Guinness pricing over the county Dublin area.
                    We will look at the pricing in two separate types of sub-divisions of Dublin:
                    An Post's Dublin post routing administrative areas and Dublin's electoral divisions.
                </p>

                <p>
              	    To conduct this analysis we have obtained shape files describing the boundaries of these sub-divisions.
                    A shape file carries geometric information about the boundaries of particular geographic regions.
	      	        There are 34 An Post routing administrative areas (22 Dublin city postcodes plus 12 county Dublin administrative areas) and 322 electoral divisions within county Dublin.
                </p>

                <p>
             	    The post routing administrative areas are thus a coarse microscope through which to examine geographic variation,
                    while the electoral divisions are a finer probe albeit at the expense of high standard deviation of intra-division average prices.
                    First let's look at the Dublin post routing administrative areas: 
                </p>

                <p>
                    <b> Dublin Post Routing Administrative Areas </b>
                </p>

                <p>
             	    The Dublin City postcodes are Dublin 1 through 24 excluding 19, 21 and 23 but including the controversial 6W (six west) postal area (see image below).
                    The river Liffey which runs generally west to east and cuts through Dublin city centre offers a natural geographic partition to the city.
                    The odd numbered city postcodes are all north of the river Liffey.
                    The even numbered postcodes are generally south of the river Liffey.
                    There are two exceptions to this which straddle the river: 1) Dublin 8 (which contains the Phoenix park) and 2) Dublin 20 (which contains Chapelizod).
                </p>

             	<p>
                    The Dublin county postcodes are mainly from north county Dublin.
                    There are three exceptions: Lucan (west county Dublin), Blackrock (south county Dublin) and Glenageary (south county Dublin). These postcodes are shown in the image below.
                </p>

                <p align="center">
                    <img class="article_image" style="width:85%" src="{% static "images/PCAAs.png" %}">
                </p>

                <p>
                    Note in the image above that the Donabate/Portrane area of county Dublin belongs to the Malahide post routing
                    adminastrative area and Lambay island belongs to the Rush post routing adminastrative area.
                    To begin the analysis we will sort the pubs into their respective postal region.
                    The result of which looks like this:
                </p>
		
		 <p align="center">
                    <img class="article_image" style="width:85%" src="{% static "images/pubpcsdistr.png" %}">
                </p>

                <p align="center">
                    <img class="article_image" style="width:85%" src="{% static "images/pubdubgeo.png" %}";>
                </p>

                <p>
                    As you will have expected the most pubs are in the four city centre postcodes, Dublin 1, 2, 7 and 8.
                    Dublin 2 has the most amount of pubs with 190 in that postcode alone!
                    Other things to note are that Bull island is shared between the Dublin 3 and Dublin 5 post codes,
                    hence the dual-tone colouring and despite Lambay island belonging to the Rush routing area I have coloured
                    it black in an attempt to dissuade people from going pinting there.
                    Despite Malahide (5 pubs) and Donabate (4 pubs) belonging to the same postal area I have couloured them independently
                    as they are formed from two distinct shape files, i.e. I have colored them as having 5 (green) and 4 (green) rather than 9 (blue).
                </p>

                <p>
		    These pictures are produced from incomplete data.
                    In order for these pictures to better describe reality we need your help.
                    If there are pubs missing in an area that you are familiar with please add them to the database by signing up to the website through the Login link in the header.
                    Below the image showing the number of pubs in each postal area we see the same image superposed on a map of Dublin.
                    We can see the quality of the shape file describing the post routing adminastrative areas from this image.
                    The only clear discrepancy between the shape file and the actual geographic picture is the Portmarnock spit.
                    Let's now look at the data taken from pubs within these postcodes up to this point:
                </p>

                <p align="center">
                    <img class="article_image" style="width:85%" src="{% static "images/fracvis.png" %}";>
                </p>

                <p>
             	    Above we plot the fraction of the pubs visited within each postal area.
                    We can see that we have visited the highest fraction of Dublin 6s pubs - all but one of them in fact.
                    Dublin 6 is folllowed by Dublin 2, Dublin 4 and Malahide. All the other areas have quite low coverage, less than 50%.
                    We have also been tracking the prices in the pubs visited within each postal region.
                    This data can be visualised below:
                </p>
		
		 <p align="center">
                    <img class="article_image" style="width:85%" src="{% static  "images/guinpostprices.png" %}">
                </p>

                <p align="center">
                    <img class="article_image" style="width:85%" src="{% static "images/avgpcsgeo.png" %}";>
                </p>


                <p>
             	    In the figure above we have taken all the collected data in each post routing adminastrative area and averaged the prices.
                    Some of these averages should be considered very reliable, having been calculated from many pubs within that area.
                    Some, however, have only data from a single pub and should be taken less seriously.
                    Unsurprisingly the most expensive area is Dublin 2 with an average of €5.41 of the data collected so far.
                    The cheapest area is Dublin 12, with an average of €4.48 although this is perhaps not that definitive as there have only 4 submissions from that postcode so far.
                    As well as looking at between postal area variation we can also look at the variation within each postal region: 
                </p>

                <p align="center">
                    <img class="article_image" style="width:85%" src="{% static "images/Price By Postcode.png" %}";>
                </p>

                <p>
             	    The plot above shows the distribution of pricing within each postal region.
                    Of particular note is the "Temple Bar" tail of the right skewed Dublin 2 distribution.
                    The large standard deviation of the Dublin 1, Dublin 7 and Dublin 8 distributions is interesting
                    and I'd contend that it is reflective of the social and cultural diversity and inhomogeneity of these postcodes.
		    The irregularity of the Dublin 12 distribution is likely partly attributable to the low number of samples in that postcode. 
                    The majority of the other distributions look reasonably normal-like.
		</p>

		<p> 
                    We have conducted ANOVA analysis of the pricing over these regions.
                    This analysis tests whether there is a statistically significant difference in the pricing across different postal regions or
                    whether the spread seen above is the product of random variation around some overall Dublin mean.
                    The p-value of the F-test (~2*^-18) indicates that there is at least one mean statistically distinct from the others.
                    To assess which means are statistically different we have carried out a Tukey analysis on the data.
                    The results of this test indicate that the following pairs of postcodes have statistically different average prices of Guinness: 
                    (1,8), (2,1), (2,6), (2,7), (2,8), (2,9), (2,12), (2,Glenageary) and (4,8). 
                    As expected this test concludes that the pricing of Guinness in the city centre, particularly in Dublin 2, is more than other parts of Dublin. 
                    We expect that this dichotomy of Guinness pricing between city centre and outside will be  more fully borne out as more data is collected.
                </p>

                <p>
                    <b> Dublin Electoral Divisions </b>
                </p>

                <p>
            	    The electoral division (ED) is the smallest legally defined adminastrative region in Ireland.
                    They are almost the finest geographic scale at which the government distributes census data.
                    As such they offer the possibility of comparing Guinness pricing in each ED to social factors in that ED.

                </p>

                <p>
            	    The analysis of price variation with respect to social factors from census data will appear
                    <a class="page_content_link" data-content_page_id="analysis_social_page"><b>here</b></a>.
                    Let's now examine how the Dublin pubs are distributed over the EDs
                </p>

		 <p align="center">
                    <img class="article_image" style="width:85%" src="{% static  "images/coleds2.png" %}">
                </p>

                <p align="center">
                    <img class="article_image" style="width:85%" src="{% static "images/pubedsgeo.png" %}";>
                </p>

                
                <p>
             	    The image above shows the number of pubs in each ED by colour.
                    There are a surprising number of electoral divisions which don't have a pub at all (indicated in black in the image).
                    The ED with the most pubs is the Royal Exchange A ED in Dublin 2, comprising Temple Bar, Dame St, Georges St etc.
                    This ED has 72 pubs! Note that Lambay island belongs to the Donabate ED, despite being coloured orange there are no pubs on Lambay island
                    and only 7 people live there.
                    Similarly for Dalkey island off Dalkey (Glenageary/Dalkey-Coliemore ED) and Ireland's Eye off Howth (D13/Howth ED), although neither have any permanent inhabitants.
                    We can now move on to assess the average price in each ED containing at least one pub.
                </p>

		<p align="center">
                    <img class="article_image" style="width:85%" src="{% static  "images/AVGEDS.png" %}">
                </p>

                <p align="center">
                    <img class="article_image" style="width:85%" src="{% static "images/avgedsgeo.png" %}";>
                </p>

                <p>
             	    The figure above looks at the price of a pint of Guinness in each ED from the data collected,
                    in EDs where more than one entry have been logged we have averaged the entries.
                    The most expensive ED is Royal Exchange A which features the dreaded Temple Bar tail.
                    This is we think likely to be the most expensive venue to go pinting.
                    The cheapest ED is currently Walkinstown B which hosts Eleanora's pub and their €3.90 pint of Guinness,
                    although this may change as more data is collected.
                </p>

                <p>
                    The second figure above shows the first figure overlaid on a road map of county Dublin in order to
                    better appreciate where the value is and what EDs need to hang their head in shame.
                </p>
            </div>
        </div>
    </div>
</div>
{% endif %}
