<div id="analysis_social_page" class="page_content content-wrapper" style="display:none">
    	<div class="container-fluid">
		<div class="bigshiftedcontainer">
 			<P ALIGN=CENTER><b>Effect of Social Factors on Guinness Pricing</b></P><HR style="height:0.2vw;background-color:white";/>
            		<P ALIGN=LEFT><b>Analysis of the correlation between Guinness pricing and social factors in each electoral division will appear here. We are currently waiting for a more complete picture of the Guinness distribution </b></P>
	    	<P ALIGN=LEFT><b>The correlation analysis will take the form of various bivariate choropleth maps of county Dublin's electoral divisions. For now here's a plot showing the population in each electoral division in county Dublin. </b></P>
	 
	    	<P ALIGN=CENTER><b><img src="../../static/images/pop.png" style="width:75%;"></b></P>
		<P ALIGN=LEFT> <b> <a class="page_content_link class2" data-content_page_id="analysis_geo_page" style="color:deepskyblue">Previous Article</a> <span style="float:right;"> <a class="page_content_link class2" data-content_page_id="analysis_travelling_drunkard_page" style="color:deepskyblue">Next Article</a></span></b></P>
		</div>
    	</div>
</div>
