{% load static %}

{% if async_template_loading %}
<div id="analysis_social_page" class="page_content content-wrapper" style="display:none">
</div>
{% else %}
<div id="analysis_social_page" class="page_content content-wrapper" style="display:none">
    <div class="container-fluid">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">
                Effect of Social Factors on Guinness Pricing
            </div>
            <div class="card-body">
                <p>
                    Analysis of the correlation between Guinness pricing and social factors in each electoral division will appear here.
                    We are currently waiting for a more complete picture of the Guinness distribution.
                    The correlation analysis will take the form of various bivariate choropleth maps of county Dublin's electoral divisions.
                    For now here's a plot showing the population in each electoral division in county Dublin.
                </p>
	 
                <p align="center">
                    <img class="article_image" style="width:75%" src="{% static "images/pop.png" %}">
                </p>

            </div>
        </div>
    </div>
</div>
{% endif %}
