<div id="analysis_travelling_drunkard_page" class="page_content content-wrapper" style="display:none">
    	<div class="container-fluid">
        	<div class="bigshiftedcontainer">
		<P ALIGN=CENTER><b>The Travelling Drunkard</b></P><HR style="height:0.2vw;background-color:white";/>
        	<P ALIGN=LEFT><b> A write-up of the travelling drunkard problem will appear here. </b></P>
		<P ALIGN=LEFT> <a class="page_content_link class2" data-content_page_id="analysis_social_page" style="color:deepskyblue"><b>Previous Article</b></a></P>
		</div>    
	</div>
</div>
