{% load static %}

{% if async_template_loading %}
<div id="analysis_travelling_drunkard_page" class="page_content content-wrapper" style="display:none">
</div>
{% else %}
<div id="analysis_travelling_drunkard_page" class="page_content content-wrapper" style="display:none">
    <div class="container-fluid">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">
                The Travelling Drunkard
            </div>
            <div class="card-body">
                <p>
        	        A write-up of the travelling drunkard problem will appear here.
                </p>
            </div>
        </div>
	</div>
</div>
{% endif %}
