<div id="contributions_page" class="page_content content-wrapper" style="display:none">
    <div class="container-fluid" style="color:black !important; padding:3vw">
        <!-- Breadcrumbs-->
        <div class="on_logged_out" style="display:block">
            <div class="card card-register mx-auto mt-5" style="color: black; margin-bottom:30px">
                <div class="card-header">
                    Content Unavailable
                </div>
                <div class="card-body">
                    Please login to view this page.
                </div>
            </div>
        </div>

        <div class="on_logged_in" style="display:none">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i>
                    Personal Contributions Table
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table responsive table-bordered" id="GuindexContributionsTable" width="100%" cellspacing="0">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
