<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <script>
    var G_FACEBOOK_APP_ID = '{{facebook_app_id}}';
    var g_debug = ('{{debug}}' == 'True')
  </script>
  {% if not debug %}
    <script type="text/javascript" src="{% static "javascript/guindex_globals.min.js" %}"> </script>
  {% else %}
    <script type="text/javascript" src="{% static "javascript/guindex_globals.js" %}"> </script>
  {% endif %}
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;

    ga('create', '{{ google_analytics_key }}', 'auto'); 

  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <script type="text/javascript" src="{% static "javascript/particles.js" %}"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title> Guindex </title>
  <link rel="icon" href="{% static "images/favicon.png" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static "css/dataTables.bootstrap4.css" %}">
  <link rel="stylesheet" href="{% static "css/sb-admin.css" %}">
  <link rel="stylesheet" href="{% static "css/guindex_web_client.css" %}">
</head>

<body class="fixed-nav sticky-footer" id="page-top">

  <div id="particles_js_container">
    <div id="main_loader_container">
        <i id="main_loader_spinner" class="fa fa-spinner fa-spin guindex_web_client_loader"></i>
        <span class="blink"> Loading guindex.ie ...</span>
    </div> 
  </div>

  <script>
    particlesJS.load('particles_js_container', '/static/javascript/particles.json', function() {
        return;
    });
  </script>

  <script>

      window.fbAsyncInit = function() {

          FB.init({
              appId      : G_FACEBOOK_APP_ID,
              cookie     : true,  // enable cookies to allow the server to access 
                                // the session
              xfbml      : true,  // parse social plugins on this page
              version    : 'v2.8' // use graph api version 2.8
          });

          FB.getLoginStatus(function(response) {
              statusChangeCallback(response);
          });
      };

      // Load the Facebook SDK asynchronously
      (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "https://connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

  </script>   

  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:black" id="mainNav">
    <a class="navbar-brand" href="">
        <img src="{% static "images/black_guindex_logo.jpeg" %}" alt="Guindex" width="150" height="30">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion" style="background-color:black">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Overview">
          <a class="nav-link page_content_link" data-content_page_id="overview_page">
            <i class="fa fa-fw fa-home"></i>
            <span class="nav-link-text">Home</span>
          </a>
        </li>
	    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Map">
          <a class="nav-link page_content_link" data-content_page_id="map_page">
            <i class="fa fa-fw fa-map-o"></i>
            <span class="nav-link-text">Map</span>
          </a>
        </li>
	    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Statistics">
          <a class="nav-link page_content_link" data-content_page_id="statistics_page">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Statistics</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Analysis">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseAnalysis" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Analysis</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseAnalysis" style="background-color:black">
            <li>
              <a class="nav-link page_content_link" data-content_page_id="analysis_main_page">Analysis Overview</a>
            </li>
            <li>
              <a class="nav-link page_content_link" data-content_page_id="analysis_travelling_drunkard_page">Travelling Drunkard</a>
            </li>
            <li>
              <a class="nav-link page_content_link" data-content_page_id="analysis_social_page">Correlation of Socioeconomic Factors and Guinness Pricing</a>
            </li>
            <li>
              <a class="nav-link page_content_link" data-content_page_id="analysis_geo_page">Geographic Variation of Guinness Pricing</a>
            </li>
            <li>
              <a class="nav-link page_content_link" data-content_page_id="analysis_pubdist_page">Furthest Distance to a Pub in County Dublin</a>
            </li>
          </ul>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Data">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseData" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Data</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseData" style="background-color:black">
            <li>
              <a class="nav-link page_content_link" data-content_page_id="data_table_page"> Table </a>
            </li>
            <li>
              <a class="nav-link page_content_link" data-content_page_id="data_add_pub_page"> Add a Pub </a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Settings">
          <a class="nav-link page_content_link" data-content_page_id="settings_page">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Settings</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Contributions">
          <a class="nav-link page_content_link" data-content_page_id="contributions_page">
            <i class="fa fa-fw fa-user"></i>
            <span class="nav-link-text">Contributions</span>
          </a>
        </li>
        <li id="pending_contributions_li" class="nav-item" data-toggle="tooltip" data-placement="right" title="Pending Contributions" style="display:none">
          <a class="nav-link page_content_link" data-content_page_id="pending_contributions_page">
            <i class="fa fa-fw fa-clock-o"></i>
            <span class="nav-link-text">Pending Contributions</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Links">
          <a class="nav-link page_content_link" data-content_page_id="links_page">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Links</span>
          </a>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Info">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseInfo" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-info-circle"></i>
            <span class="nav-link-text">Info</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseInfo" style="background-color:black">
            <li>
              <a class="nav-link page_content_link" data-content_page_id="info_introduction_page">Introduction</a>
            </li>
            <li>
              <a class="nav-link page_content_link" data-content_page_id="info_about_page">History</a>
            </li>
      	    <li>
              <a class="nav-link page_content_link" data-content_page_id="info_faq_page">Submissions FAQ</a>
            </li>	
            <li>
              <a class="nav-link page_content_link" data-content_page_id="info_privacy_page">Privacy Policy</a>
            </li>
            <li>
              <a class="nav-link page_content_link" data-content_page_id="info_tos_page">Terms of Service</a>
            </li>
          </ul>
        </li>

        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Help">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseHelp" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-question-circle"></i>
            <span class="nav-link-text">Help</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseHelp" style="background-color:black">
            <li>
              <a class="nav-link page_content_link" data-content_page_id="help_contact_page">Contact</a>
            </li>
            <li>
              <a class="nav-link page_content_link" data-content_page_id="help_api_page">Guindex API</a>
            </li>
          </ul>
        </li>

      </ul>
      <ul class="navbar-nav sidenav-toggler" style="background-color: black">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" id="login_link" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-in"></i>Login</a>
        </li>
        <li class="nav-item" id="facebook_connect_nav_item" style="display:none">
          <a class="nav-link" data-toggle="modal" id="facebook_connect_modal_link" data-target="#facebook_connect_modal">
            <i class="fa fa-fw fa-plug"></i>Connect
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Content Pages -->
  {% include "overview.html" %}
  {% include "statistics.html" %}
  {% include "map.html" %}
  {% include "analysis_main.html" %}
  {% include "analysis_travelling_drunkard.html" %}
  {% include "analysis_social.html" %}
  {% include "analysis_geo.html" %}
  {% include "analysis_pubdist.html" %}
  {% include "data_table.html" %}
  {% include "data_add_pub.html" %}
  {% include "contributions.html" %}
  {% include "pending_contributions.html" %}
  {% include "settings.html" %}
  {% include "links.html" %}
  {% include "info_introduction.html" %}
  {% include "info_about.html" %}
  {% include "info_faq.html" %}
  {% include "info_privacy.html" %}
  {% include "info_tos.html" %}
  {% include "help_contact.html" %}
  {% include "help_api.html" %}

  <footer class="sticky-footer" style="background-color:black; color: white;">
    <div class="container">
      <div class="text-center">
        <small>Copyright © guindex.ie {% now "Y" %}</small>
      </div>
    </div>
  </footer>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" style="background-color:black" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>

  <!-- Login Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <ul class="nav nav-tabs" roles="tablist">
            <li class="nav-item login_state_link">
                <a class="nav-link active login_state_link" href="#facebook_login" data-toggle="tab">Login with Facebook</a>
            </li>
            <li class="nav-item login_state_link">
                <a class="nav-link login_state_link" href="#password_login" data-toggle="tab">Login with Password</a>
            </li>
          </ul>

          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" id="facebook_login">

                <div class="modal-body" id="facebook_login_modal_body">
                    <span id="facebook_login_modal_body_default">
                        Login with Facebook below if you would like to start contributing to the Guindex.
                    </span>
                    <span id="facebook_login_modal_body_logged_in_this_way" style="display:none">
                        You are currently logged in via Facebook as <span id="facebook_login_username"></span>.
                    </span>
                    <span id="facebook_login_modal_body_logged_in_other_way" style="display:none">
                        You are currently logged via password authentication. To login via Facebook
                        please click the logout button in the next tab and login again using the login with Facebook
                        button that appears on this tab.  
                    </span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <fb:login-button id="login_with_facebook_button" scope="public_profile,email" onlogin="checkLoginState();">
                    </fb:login-button>
                </div>
            </div>

            <div class="tab-pane" role="tabpanel" id="password_login">
                <div class="modal-body" id="password_login_modal_body">
                    
                    <span id="password_login_modal_body_default">
                        <p>
                            Login with your previously created account credentials if you would like to start contributing to the Guindex.
                        </p>

                        <br>

                        <p>
                            Please note that this option is only available to users who signed up for the first version of the Guindex.
                            As a security measure, the Guindex now only offers sign up via Facebook. Support for authentication via other social apps will be added in due course.
                        </p>

                        <br>

                        <form>
                            <div class="form-group">
                                <div class="form-row">
                                    <label for="password_login_email">Email</label>
                                    <input class="form-control" id="password_login_email" type="text" placeholder="Enter email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <label for="password_login_password">Password</label>
                                    <input class="form-control" id="password_login_password" type="password" placeholder="Enter password">
                                </div>
                            </div>
                        </form>
                    </span>
                    <span id="password_login_modal_body_logged_in_this_way" style="display:none">
                        You are currently logged in as <span id="password_login_username"></span>.
                    </span>
                    <span id="password_login_modal_body_logged_in_other_way" style="display:none">
                        You are currently logged in via Facebook. To login using a previously created account credentials instead,
                        please disconnect from the Guindex in your Facebook app settings, refresh this page and submit your email
                        and password through this tab.
                    </span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" id="password_login_button">Submit</a>
                    <a class="btn btn-primary" id="logout_button" style="display:none">Logout</a>
                    <i class="fa fa-spinner fa-spin guindex_web_client_loader"></i>
                </div>
            </div> 
        </div> 
     </div>
   </div>
 </div>

  <!-- Connect Accounts Modal -->
  <div class="modal fade" id="facebook_connect_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Connect Accounts</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">

            We have detected that an account was previously created with the email <span id="facebook_connect_email"></span>.
            We assume this is you but to be sure, please enter the password of your previously created account below to 
            connect your Guindex and Facebook accounts.    

            <div class="form-group" style="margin-top:10px">
                <input class="form-control" id="facebook_connect_password_input" type="password" placeholder="Enter password">
            </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" id="facebook_connect_cancel_button" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" id="facebook_connect_button">Connect</a>
          <i class="fa fa-spinner fa-spin guindex_web_client_loader"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Generic Message Modal (with hidden button to open it)-->
  <a class="nav-link" data-toggle="modal" id="message_link" data-target="#message_modal" style="display:none"></a>

  <div class="modal fade" id="message_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:9999">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="message_severity"></h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body" id="message_body">

        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Pending Contribution Reject Reason Modal (with hidden button to open it)-->
  <a class="nav-link" data-toggle="modal" id="reject_reason_link" data-target="#reject_reason_modal" style="display:none"></a>

  <div class="modal fade" id="reject_reason_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:9999">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="message_severity"> Reject Reason </h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
            Include an (optional) reason for rejecting this pending contribution:
            <textarea id="reject_reason_text_area" style="margin: 10px auto; display:block; position:relative">

            </textarea>
        </div>
        <div class="modal-footer">
          <i class="fa fa-spinner fa-spin guindex_web_client_loader"></i>
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <button id="final_reject_submit_button" class="pending_contribution_button btn btn-primary" type="button" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Pub Modal (with hidden button to open it)-->
  <!-- TODO Need to clean this up to look more like the otehr forms (using form-groups etc.) -->
  <a class="nav-link" data-toggle="modal" id="edit_pub_link" data-target="#edit_pub_modal" style="display:none"></a>

  <div class="modal fade" id="edit_pub_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:9999">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="message_severity"> Edit Pub </h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">

            <p> Change the value of any fields below you would like to edit: </p>

            <table align="left" border="0">

                <tr>
                    <td> Name:</td>
                    <td> <input type="text" id="edit_pub_name"> </td>
                </tr>

                <tr>
                    <td> Latitude:</td>
                    <td> <input type="number" step=0.0000001 id="edit_pub_latitude"> </td>
                </tr>

                <tr>
                    <td> Longitude:</td>
                    <td> <input type="number" step=0.0000001 id="edit_pub_longitude"> </td>
                </tr>

                <tr>
                    <td> County:</td>
                    <td> 
    			        <select class="form-control" id="edit_pub_county">
                            {% for county in guindex_counties %}
                                <option> {{ county }} </option>
                            {% endfor %}
    			        </select>
                    </td>
                </tr>

                <tr>
                    <td> Closed:</td>
                    <td>
				        <label class="switch">
                            <input type="checkbox" id="edit_pub_closed" class="hoverable">
                	        <div id="edit_pub_closed_switch_div" class="slider round"> </div>
              	        </label>
                    </td>
                </tr>

                <tr>
                    <td> Serving Guinness:</td>
                    <td>
				        <label class="switch">
                            <input type="checkbox" id="edit_pub_serving_guinness" class="hoverable">
                	        <div id="edit_pub_serving_guiness_switch_div" class="slider round"> </div>
              	        </label>
                    </td>
                </tr>

            </table>

        </div>
        <div class="modal-footer">
          <i class="fa fa-spinner fa-spin guindex_web_client_loader"></i>
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <button id="edit_pub_submit_button" class="btn btn-primary" type="button" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{% static "javascript/jquery.min.js" %}"></script>
  <script type="text/javascript" src="{% static "javascript/bootstrap.bundle.min.js" %}"></script>
  <script type="text/javascript" src="{% static "javascript/jquery.easing.min.js" %}"></script>
  <script type="text/javascript" src="{% static "javascript/Chart.min.js" %}"></script>
  <script type="text/javascript" src="{% static "javascript/jquery.dataTables.js" %}"></script>
  <script type="text/javascript" src="{% static "javascript/dataTables.bootstrap4.js" %}"></script>
  <script type="text/javascript" src="{% static "javascript/sb-admin.min.js" %}"></script>
  <script type="text/javascript" src="{% static "javascript/sb-admin-datatables.min.js" %}"></script>

  {% if not debug %}
    <script type="text/javascript" src="{% static "javascript/guindex_web_client_utils.min.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/guindex_login.min.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/guindex_user_settings.min.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/guindex_user_contributions.min.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/guindex_pending_contributions.min.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/guindex_table.min.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/guindex_tabs.min.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/guindex_add_pub.min.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/guindex_contact.min.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/guindex_stats.min.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/guindex_main.min.js" %}"></script>
  {% else %}
    <script type="text/javascript" src="{% static "javascript/guindex_web_client_utils.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/guindex_login.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/guindex_user_settings.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/guindex_user_contributions.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/guindex_pending_contributions.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/guindex_table.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/guindex_tabs.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/guindex_add_pub.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/guindex_contact.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/guindex_stats.js" %}"></script>
    <script type="text/javascript" src="{% static "javascript/guindex_main.js" %}"></script>
  {% endif %}

  <script>
    // Close dropdown when new page is opened

    $(".nav-item").on("click", function(evt) {        

        var node = evt.target;

        while (!node.classList.contains('nav-item'))
        {
            node = node.parentNode;
        }

        // Don't close menu if link is collapsable
        if (node.children[0].classList.contains('nav-link-collapse') || evt.target.classList.contains('login_state_link'))
            return;
        
        if($('.navbar-toggler').is(':visible'))
        {    
            $(".navbar-toggler").trigger('click');
        }
    });

    $(".nav-link").on("click", function(evt) {        

        if (!evt.target.classList.contains('page_content_link') || evt.target.classList.contains('login_state_link'))
            return;

        if($('.navbar-toggler').is(':visible'))
        {    
            $(".navbar-toggler").trigger('click');
        }
    });
  </script>

  <script>

    populateGuindexDataTable();
    populateGuindexStatsTable();

    function clearLoader ()
    {
        $('#particles_js_container').delay(1000).fadeOut('slow');
    }

    setTimeout(clearLoader, 3000);

   </script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{google_maps_api_key}}&callback=initAddPubMap"></script>

  </div>

</body>

</html>
