<div id="help_api_page" class="page_content content-wrapper" style="display:none">
    <div class="container-fluid">
        <div class="card card-register mx-auto mt-5" style="color: black; margin-bottom:30px">
            <div class="card-header">
                Guindex API
            </div>
            <div class="card-body">
                Click <a href="api/docs/"> here </a> link for a description of the Guindex HTTP API.
                Our API schema can be viewed <a href="api/schema"> here </a> in JSON format.
            </div>
        </div>
    </div>
</div>
