<div id="help_contact_page" class="page_content content-wrapper" style="display:none">
    <div class="pint-head">
    </div>
    <div class="container-fluid">
	<div class="bigshiftedcontainer">
    		<P><b>We can be contacted through our social media accounts or by filling out the email contact form below. The guindex can be found on:</b></P>
    		<P><b><a href="https://www.instagram.com/theguindexireland/" style="color:deepskyblue"> Instagram </a></b></P>
    		<P><b><a href="https://twitter.com/GuindexIreland" style="color:deepskyblue"> Twitter </a></b></P>
    		<P><b><a href="placeholder" style="color:deepskyblue"> Insert link to Facebook page here </a></b></P>
		<P><b>If you would like to contact us by email please fill out the form below:</b></P>
	</div>

        <div class="card card-register mx-auto mt-5" style="color:black; margin-bottom:50px">
            <div class="card-header">
                Contact Form
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="contact_form_name">Name</label>
                                <input class="form-control" id="contact_form_name" type="text">
                            </div>
                            <div class="col-md-6">
                                <label for="contact_form_email">Email</label>
                                <input class="form-control" id="contact_form_email" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <label for="contact_form_subject">Subject</label>
                            <input class="form-control" id="contact_form_subject" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <label for="contact_form_message">Message</label>
                            <br>
                            <textarea rows="10" cols="50" class="form_control" id="contact_form_message" style="margin: 0 auto" placeholder="Add your message here ..."></textarea>
                        </div>
                    </div>
                    <div class="card_footer" style="text-align:center">
                        <i class="fa fa-spinner fa-spin guindex_web_client_loader"></i>
                        <a class="btn btn-primary btn-block" id="contact_form_submit_button">Submit</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
