<div id="help_contact_page" class="page_content content-wrapper" style="display:none">
    <div class="pint-head">
    </div>
    <div class="container-fluid">
	<div class="bigshiftedcontainer">
    		<P><b>We can be contacted through our social media accounts or by filling out the email contact form below. The guindex can be found on:</b></P>
    		<P><b><a href="https://www.instagram.com/theguindexireland/"> Instagram </a></b></P>
    		<P><b><a href="https://twitter.com/GuindexIreland"> Twitter </a></b></P>
    		<P><b><a href="placeholder"> Insert link to Facebook page here </a></b></P>
		<P><b>If you would like to contact us by email please fill out the form below:</b></P>
		<P><b>Insert form to send email to theguindexteam email</b></P>
	</div>
    </div>
</div>
