<div id="info_about_page" class="page_content content-wrapper" style="display:none">
    <div class="container-fluid">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">
                History
            </div>
            <div class="card-body">
                <p>
                    The Guindex project was started in August 2017. The project is seen as a labour of love, intended to celebrate the black stuff.
                    The database of pubs was extracted from openstreetmaps, everything marked as a pub, bar or nightclub was taken.
                    As such it is not-exhaustive and the analysis presented should only be considered as a good approximation to reality.
                    Asymptotic to reality is the best we can hope for.
                    The project began in August 2017 with just three of us but in the months since the project has grown to comprise fifteen Guinness enthusiasts.
                    The project members are all twenty-somethings, primarily from quantitative fields (physics, maths, chemistry and computer science).
                    The project will never be complete, but to get a more complete picture of the price distributions around Ireland we need your help!
                </p>
            </div>
        </div>
    </div>
</div>
