<div id="info_introduction_page" class="page_content content-wrapper" style="display:none">
    <div class="container-fluid">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">
               Introduction
            </div>
            <div class="card-body">
                <p>
                    The Guindex is a project whose aim is to collect and analyse data relating to the pricing of Guinness pints across Ireland.
                    We are particularly interested in how the price variation is affected by geographic and social factors.
                </p>
                <p> 
                    We are also interested in how the pubs themselves are distributed around Ireland and mathematical problems related to the placement of these pubs.
                    To examine some of these themes we have been conducting "in the field" data collection.
                    We have collected the price of a pint in over 300 bars, pubs and nightclubs so far!
                </p>
                <p>
                    The Guindex map tab displays a user-centred map of Irish pubs and the prices of the pints at those pubs.
	                The statistics tab directly tracks this data collection, including the top 15 cheapest and most expensive pints thus far. This tab also offers some relevant quantifiers of the Guinness pricing.
                    In the analysis tab we have transformed the collected data in order to examine the aformentioned themes.
                    In particular we examine geographic variation in the pricing of Guinness within Dublin at the level of:
	           
                    <ol>
	                    <li> Dublin Post routing administrative areas. </li>
	                    <li> Electoral divisions within county Dublin. </li>
                    </ol>
                </p>
                <p>
                    We also examine interesting problems related to the distributions of the pubs in Dublin including:  
	                
                    <ol>
                        <li> What is the furthest you can be from a pub in county Dublin? </li>
	                    <li> What is the order to visit the pubs in between the two circular roads to minimise travel time? </li>
	                </ol> 
                    Users can sign up for the site using the login link in the header.
                    The data tab allows users to start submitting their own data to help the project.
                    The project began with data being collected solely from Dublin but we have recently expanded to the other 25 counties!
            </div>
        </div>
	</div>
</div> 
