{% load static %}

{% if async_template_loading %}
<div id="info_about_page" class="page_content content-wrapper" style="display:none">
</div>
{% else %}
<div id="info_about_page" class="page_content content-wrapper" style="display:none">
    <div class="container-fluid">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">
                History
            </div>
            <div class="card-body">
                <p>
                    The Guindex project was started in August 2017. The project is seen as a labour of love, intended to celebrate the black stuff.
		</p>

		<p>
                    The database of pubs was extracted from openstreetmaps; everything marked as a pub, bar or nightclub was taken.
                    As such it is not-exhaustive and the analysis presented should only be considered as a good approximation to reality.
                    Asymptotic to reality is the best we can hope for.
		</p>

		<p>
                    The project began in August 2017 initially focusing solely on county Dublin. The project was started by three people but by the end of 2017 the project had grown to comprise fifteen Guinness enthusiasts.
                    The original project members are all twenty-somethings, primarily from quantitative fields (physics, maths, chemistry and computer science).
		    In December 2017 we began setting up the Guindex website, which officially launched in early June 2018. By the time of the launch the scope of the project had expanded to consider all 26 counties in the republic of Ireland. Additionally upon launch the project was opened to public user data submissions.

		</p>

		<p>
                    The project will never be complete, but to get a more complete picture of the price distributions around Ireland we need your help!
                </p>
            </div>
        </div>
    </div>
</div>
{% endif %}
