<div id="info_faq_page" class="page_content content-wrapper" style="display:none">
    <div class="container-fluid">
		<div class="bigshiftedcontainer">
        <P ALIGN=CENTER><b>Submissions FAQ</b></P><HR style="height:0.2vw;background-color:white";/>
        <P ALIGN=LEFT>This is a guide to submitting pubs, prices and ratings to the Guindex project. The guide takes the form of answering some frequently asked questions regarding the submission process. Please read these answers carefully before starting to submit to the project. </P>
        <P ALIGN=LEFT> <b>Q: Can anyone contribute to the Guindex project? </b></P>
	<P ALIGN=LEFT> <i>A: Yes, the Guindex is a community-driven data collection project and everyone is welcome (and encouraged) to make submissions to it. </i></P>
	<P ALIGN=LEFT> <b>Q: Do I have to sign up for the site to submit data? </b></P>
	<P ALIGN=LEFT> <i>A: Yes, this allows the personal contributions of each user to be tracked, tallied and associated with their account. We also feel that requiring users to sign up for the site encourages responsible use of the submission capabilities. </i></P>
	<P ALIGN=LEFT> <b>Q: How do I sign up for the Guindex? </b></P>
	<P ALIGN=LEFT> <i>A: The login/sign up link should be in the top right of the webpage on desktop or at the bottom of the dropdown menu on mobile. Clicking on this link will open a dialogue which allows you to sign in via your facebook account. </i></P>
	<P ALIGN=LEFT> <b>Q: I don't have a Facebook account or don't wish to sign in using it are there any other sign-in options? </b></P>
	<P ALIGN=LEFT> <i>A: Unfortunately at the moment Facebook sign-in is the only option, we intend to add new sign-in options shortly so check back!. </i></P>
	<P ALIGN=LEFT> <b>Q: I'm having difficulty signing up/in is there anyone I can contact? </b></P>
	<P ALIGN=LEFT> <i>A: Sure you can contact the Guindex staff by filling out the <a class="page_content_link class2" data-content_page_id="help_contact_page" style="color:deepskyblue"><b>contact form</b></a>. </i></P>
	<P ALIGN=LEFT> <b>Q: What data do you want to be submitted? </b></P>
	<P ALIGN=LEFT> <i>A: There are two kinds of submissions that we accept: </i></P>
		<ul>
    			<P Align=Left ><i>1) Prices and ratings of pints of Guinness at pubs already in database.  </i></P> 
    			<P Align=Left ><i>2) Adding new pubs to the database. </i></P>
    	</ul>
	<P ALIGN=LEFT> <b>Q: How do I submit the price of a pint in a particular pub? </b></P>
	<P ALIGN=LEFT> <i>A: To submit the price of a pint of Guinness go to the side bar (desktop) or dropdown (mobile) and open up the data tab and click on <a class="page_content_link class2" data-content_page_id="data_table_page" style="color:deepskyblue"><b>table</b></a>. This will open a table of all the existing pubs in the Guindex database. You can then search for the desired pub in the search field at the top of the table, enter the observed price of Guinness at that pub and click on the submit button. </i></P>
	<P ALIGN=LEFT> <b>Q: The pub I'm trying to submit for already has a price, what should I do? </b></P>
	<P ALIGN=LEFT> <i>A: That's okay, you can submit anyway! We want the site to have the most recent price, even if the price hasn't changed it is good to know that this is the case. We also store the historical prices that have been submitted for each pub and will hopefully be able to look at the time evolution of Guinness pricing as time goes on. </i></P>
	<P ALIGN=LEFT> <b>Q: The pub I'm looking to add a price for isn't in the database, how can I add it? </b></P>
	<P ALIGN=LEFT> <i>A: Before adding a pub make sure to check the data table and also browse to the location of the pub on the <a class="page_content_link class2" data-content_page_id="map_page" style="color:deepskyblue"><b>map</b></a> tab in order to ensure the pub isn't already in the database. It's especially important to check the map as sometimes pubs appear in the table with odd, outdated, misspelled or just totally wrong names. </i></P>
	<P ALIGN=LEFT> <i> If the pub is indeed not in the database then you can go to the <a class="page_content_link class2" data-content_page_id="data_add_pub_page" style="color:deepskyblue"><b>add a pub</b></a> tab on the data dropdown of the menus. Once on this page you should fill in the form specifying the name and county of the new pub and then click on the location of the pub using the mini-map. When these fields have been completed you can click submit to add this pub to the database. </i></P>
        <P ALIGN=LEFT> <b>Q: What do you consider to be a pub? </b></P>
	<P ALIGN=LEFT> <i>A: We have decided (completely arbitrarily) the criteria for a pub; it must serve pints, be open to the public, have regular hours and in the cases where there is a cover charge further pinting should be the primary motivation to paying that charge. So for those reasons hotel bars are in, as are sports club bars provided they don't require club memberships. Bars at concert venues are out, as are those at sporting events. </i></P>
	<P ALIGN=LEFT> <b>Q: A pub already in the database is incorrectly named or is in the wrong location, can I amend this? </b></P>
	<P ALIGN=LEFT> <i>A: In the right most column of the table page there is an option to open an edit pub form. By clicking on this option you can enter and submit the necessary changes.  </i></P>
	<P ALIGN=LEFT> <b>Q: How do I mark a pub as closed or not serving Guinness? </b></P>
	<P ALIGN=LEFT> <i>A: Again this option is contained in the edit pub form in the right most column of the data table. </i></P>
    	</div>
</div>
</div>
