<div id="links_page" class="page_content content-wrapper" style="display:none">
    <div class="pint-head">
    </div>
   
    <div class="container-fluid">
		<div class="bigshiftedcontainer">
        <P ALIGN=CENTER><b>Links we Like</b></P><HR style="height:0.2vw;background-color:white";/>
        <P><b>Here are a collection of some links that we like:</b></P>
        <P><b><a href="http://publin.ie" style="color:deepskyblue">Publin</a>: A website dedicated to the pubs of Dublin.</b></P>
        <P><b><a href="https://comeheretome.com/" style="color:deepskyblue">Come Here to Me</a>: A blog that examines various aspects of Dublin's social history.</b></P>
        <P><b><a href="http://pintsinthesun.co.uk/" style="color:deepskyblue">Pints in the Sun</a>: A website that let's you find pubs that catch the evening sunshine.</b></P>

		</div>
    </div>
</div>
