{% load static %}

{% if async_template_loading %}
<div id="links_page" class="page_content content-wrapper" style="display:none">
</div>
{% else %}
<div id="links_page" class="page_content content-wrapper" style="display:none">
    <div class="container-fluid">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">
                Links We Like
            </div>
            <div class="card-body">
                <ul>
                    <li>
                        <a href="http://publin.ie">Publin</a>: A website dedicated to the pubs of Dublin.
                    </li>
                    <li>
                        <a href="https://comeheretome.com/">Come Here to Me</a>: A blog that examines various aspects of Dublin's social history.
                    </li>
                    <li>
                        <a href="http://pintsinthesun.co.uk/">Pints in the Sun</a>: A website that let's you find pubs that catch the evening sunshine.
                    </li>
                    <li>
	                    <a href="http://dublinbypub.ie/">Dublin By Pub</a>: A project seeking to immortalise Dublin's drinking establishments, one pub at a time.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}
