<div id="map_page" class="page_content content-wrapper" style="display:none">
    <div class="pint-head">
    </div>
    <div id="guindex_map_container" class="container-fluid" style="padding:0; text-align: center;">

        <div id="guindex_map">
		</div>
       
    	<div id="floating_panel" style="display:none">
			<div id="filter-MainArea">
				<div id="myShowHideButtons">
					<button id="ShowButton" onclick="showHide()" style="display:inline-block">Show Filters</button>
					<button id="HideButton" onclick="showHide()" style="display:none">Hide Filters</button>
				</div>
				<div id="filterArea" style="display:none">
					<input type="text" id="map_search_filter" onkeyup="applyMapFilter()" placeholder="Search for Pubs..">
				</div>
			</div>
		</div>
	
    </div>
</div>
