<div id="overview_page" class="page_content content-wrapper" style="display:block">
    <div class="container-fluid">
	<div class="bigshiftedcontainer">
        	<P ALIGN=CENTER><b>Welcome to the Guindex!</b></P><HR style="height:0.2vw;background-color:white";/>
       		<P ALIGN=LEFT><b>The Guindex is a community driven collaborative project whose aim is to collect and analyse the pricing of pints of Guinness pints across Ireland. </b></P>
        	<P ALIGN=LEFT><b>Contribute to the Guindex:</b></P>
   		<P ALIGN=Center><b>   <u><a class="page_content_link" data-content_page_id="data_table_page" style="color:black; background-color:white; width:42.5%; padding:1.75vw;"> Add Guinness Price and Rating </a> </u></b></P>
		<P ALIGN=Center><b><br/>
				    <u><a class="page_content_link" data-content_page_id="data_add_pub_page" style="color:black; background-color:white; width:42.5%; padding:1.75vw"> Add Missing Pub </a></u> </b></P>
		<P ALIGN=LEFT><b>If this is your first time contributing please read the <a class="page_content_link class2"" data-content_page_id="info_faq_page" style="color:deepskyblue">submissions FAQ</a> before starting to submit data. </b></P>

		<P ALIGN=LEFT><b>A general introduction and overview of the Guindex project can be found <a class="page_content_link class2"" data-content_page_id="info_introduction_page" style="color:deepskyblue">here</a> </b></P>
	</div>
     
    </div>
</div> 
