<div id="overview_page" class="page_content content-wrapper" style="display:block">
    <div class="pint-head">
    </div>
    <div class="container-fluid">
	<div class="bigshiftedcontainer">
        	<P ALIGN=CENTER><b>Welcome to the Guindex!</b></P><HR style="height:0.2vw;background-color:white";/>
       		<P ALIGN=LEFT><b>The Guindex is a project whose aim is to analyse the price distribution of Guinness pints across Dublin city and county. </b></P>
        	<P ALIGN=LEFT><b>We are particularly interested in how the price variation is affected by geographic and social factors. </b></P>
        	<P ALIGN=LEFT><b>We are also interested in how the pubs themselves are distributed around the county Dublin area and mathematical problems related to the placement of these pubs. </b></P>
        	<P ALIGN=LEFT><b>To examine some of these themes we have been conducting "in the field" data collection. We have collected the price of a pint in over 200 bars, pubs and nightclubs so far! </b></P>
        	<P ALIGN=LEFT><b>The Guindex map tab displays a user-centred map of Dublin pubs and the prices of the pints at those pubs.  </b></P>
	    	<P ALIGN=LEFT><b>The statistics tab directly tracks this data collection, including the top 15 cheapest and most expensive pints thus far. This tab also offers some relevant quantifiers of the Guinness pricing. </b></P>
        	<P ALIGN=LEFT><b>In the analysis tab we have transformed the collected data in order to examine the aformentioned themes. In particular we examine geographic variation in the pricing of Guinness at the level of:
		<ul>
			<P ALIGN=LEFT><b> 1) Dublin Post routing administrative areas </b></P>
			<P ALIGN=LEFT><b> 2) Electoral divisions within county Dublin.</b></P>
		</ul>
        	<P ALIGN=LEFT><b>We also examine interesting problems related to the distributions of the pubs themselves including:  
		<ul>
			<P ALIGN=LEFT><b>1) What is the furthest you can be from a pub in county Dublin? </b></P>
			<P ALIGN=LEFT><b> 2) What is the order to visit the pubs in between the two circular roads to minimise travel time?  </b></P>
		</ul>
        	<P ALIGN=LEFT><b>The data tab allows users to sign up for the site (for free) and start submitting their own data to help the project. At present we are only collecting data from Dublin but this will change shortly. We are in the process of expanding the project to the other 25 counties. </b></P>
	</div>
     
    </div>
</div> 
