{% load static %}

{% if async_template_loading %}
<div id="overview_page" class="page_content content-wrapper" style="display:block">
</div>
{% else %}
<div id="overview_page" class="page_content content-wrapper" style="display:block">
    <div class="container-fluid">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">
                Welcome to the Guindex
            </div>
            <div class="card-body">

                <p> 
                    The Guindex is a community driven collaborative project whose aim is to collect and analyse the pricing of pints of Guinness across Ireland. 
                </p>

                <p>
                    Contribute to the Guindex: 

                    <br>

                    <div style="text-align:center"> 
                        <a class="page_content_link" data-content_page_id="data_table_page">
                            <button type="button" class="btn btn-dark overview_button">Submit Price and Rating</button>
                        </a>
                        <a class="page_content_link" data-content_page_id="data_add_pub_page">
                            <button type="button" class="btn btn-dark overview_button"> Add Missing Pub </button>
                        </a>
                    </div>
                </p>

                <p> 
                    If this is your first time contributing please read the <a class="page_content_link" data-content_page_id="info_faq_page" style="font-weight:bold"> submissions FAQ </a> before starting to submit data.
                </p>
            
            </div>
        </div>
    </div>
</div> 
{% endif %}
