{% load static %}

{% if async_template_loading %}
<div id="pending_contributions_page" class="page_content content-wrapper" style="display:none">
</div>
{% else %}
<div id="pending_contributions_page" class="page_content content-wrapper" style="display:none">

    {% if not debug %}
    <script type="text/javascript" src="{% static "javascript/guindex_pending_contributions.min.js" %}"></script>
    {% else %}
    <script type="text/javascript" src="{% static "javascript/guindex_pending_contributions.js" %}"></script>
    {% endif %}

    <div class="container-fluid" style="color:black !important; padding:3vw">
        <!-- Breadcrumbs-->
        <div class="on_logged_out" style="display:block">
            <div class="card card-register mx-auto mt-5" style="color: black; margin-bottom:30px">
                <div class="card-header">
                    Content Unavailable
                </div>
                <div class="card-body">
                    Please login to view this page.
                </div>
            </div>
        </div>

        <div class="on_logged_in" style="display:none">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i>
                    Pending Price Submissions Table
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table responsive table-bordered" id="GuindexPendingGuinnessCreateTable" width="100%" cellspacing="0">
                        </table>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i>
                    Pending Pub Submissions Table
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table responsive table-bordered" id="GuindexPendingPubCreateTable" width="100%" cellspacing="0">
                        </table>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i>
                    Pending Pub Updates Table
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table responsive table-bordered" id="GuindexPendingPubPatchTable" width="100%" cellspacing="0">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('pending_contributions_page').addEventListener('tab_display', populatePendingContributionsTables);
        document.getElementById('pending_contributions_page').addEventListener('on_login', populatePendingContributionsTables); 
    </script>

</div>
{% endif %}
