{% load static %}

{% if async_template_loading %}
<div id="settings_page" class="page_content content-wrapper" style="display:none">
</div>
{% else %}
<div id="settings_page" class="page_content content-wrapper" style="display:none">

    {% if not debug %}
    <script type="text/javascript" src="{% static "javascript/guindex_user_settings.min.js" %}"></script>
    {% else %}
    <script type="text/javascript" src="{% static "javascript/guindex_user_settings.js" %}"></script>
    {% endif %}

    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <div class="on_logged_out" style="display:block">
            <div class="card card-register mx-auto mt-5">
                <div class="card-header">
                    Content Unavailable
                </div>
                <div class="card-body">
                    Please login to view this page.
                </div>
            </div>
        </div>

        <div class="on_logged_in" style="display:none">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i>
                    Guindex User Settings Table
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table responsive table-bordered" id="GuindexUserSettingsTable" width="100%" cellspacing="0">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('settings_page').addEventListener('tab_display', populateUserSettingsTable);
        document.getElementById('settings_page').addEventListener('on_login', populateUserSettingsTable); 
    </script>

</div>
{% endif %}
