<div id="statistics_page" class="page_content content-wrapper" style="display:none">
    <div class="container-fluid" style="color:black !important; padding:3vw">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i>
                Guindex Statistics Table
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table responsive table-bordered" id="GuindexStatisticsTable" width="100%" cellspacing="0">
                    </table>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i>
                Guindex Price Table
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table responsive table-bordered" id="GuindexPriceTable" width="100%" cellspacing="0">
                    </table>
                </div>
            </div>
        </div>
	</div>
</div>
