<div id="statistics_page" class="page_content content-wrapper" style="display:none">
    <div class="pint-head">
    </div>
    <div class="container-fluid" style="margin-top:2vw;">
	<div style="column-count:2; column-gap: 2vw;">
    		<div style="display:inline-block; color:black; background:white; width:22vw; opacity:0.65; margin-left:15vw; height:auto;" ALIGN=Center>
    		
    		<div id="test1"></div>
    		
    		<div id="test2"></div>
    		
    		<div id="test3"></div>
    		
    		<div id="test4"></div>
    		
    		<div id="test9"></div>
    		
    		<div id="test10"></div>
    		
    		</div>
    		
		<div style="display:inline-block; color:black; background:white; width:22vw; opacity:0.65; margin-left:3vw; height:auto;" ALIGN=Center>
		
		<div id="test5"></div>
    		
    		<div id="test6"></div>
    		
    		<div id="test7"></div>
    		
    		<div id="test8"></div>
    	
    		<div id="test11"></div>
    		
    		<div id="test12"></div>
    		
		</div>
		
	</div>
	<div style="column-count:2; column-gap: 2vw; margin-top:4.5vw;">
    		<div style="display:block; color:black; background:white; width:22vw; opacity:0.65; margin-left:15vw;" ALIGN=Center>


		<table style="width:100%">

  			<caption>Cheapest Pints</caption>
  				<tr>
    					<th>
						<div id="testagain"></div>
					</th>
    					<th>
						<div id="testagain2"></div>
					</th>
  				</tr>
  				<tr>
    					<th>
						<div id="testagain3"></div>
					</th>
    					<th>
						<div id="testagain4"></div>
					</th>
  				</tr>
  				<tr>
    					<th>
						<div id="testagain5"></div>
					</th>
    					<th>
						<div id="testagain6"></div>
					</th>
  				</tr>
  				<tr>
    					<th>
						<div id="testagain7"></div>
					</th>
    					<th>
						<div id="testagain8"></div>
					</th>
  				</tr>
  				<tr>
    					<th>
						<div id="testagain9"></div>
					</th>
    					<th>
						<div id="testagain10"></div>
					</th>
  				</tr>
  				<tr>
    					<th>
						<div id="testagain11"></div>
					</th>
    					<th>
						<div id="testagain12"></div>
					</th>
  				</tr>
  				<tr>
    					<th>
						<div id="testagain13"></div>
					</th>
    					<th>
						<div id="testagain14"></div>
					</th>
  				</tr>
  				<tr>
    					<th>
						<div id="testagain15"></div>
					</th>
    					<th>
						<div id="testagain16"></div>
					</th>
  				</tr>
  				<tr>
    					<th>
						<div id="testagain17"></div>
					</th>
    					<th>
						<div id="testagain18"></div>
					</th>
  				</tr>
  				<tr>
    					<th>
						<div id="testagain19"></div>
					</th>
    					<th>
						<div id="testagain20"></div>
					</th>
  				</tr>
  				
			</table>
			
		</div>
		<div style="display:block; color:black; background:white; width:22vw; opacity:0.65; margin-left:3vw;" ALIGN=Center>
			<table style="width:100%" ALIGN=CENTER>

  			<caption>Dearest Pints</caption>
  				<tr>
    					<th>
						<div id="testagaind"></div>
					</th>
    					<th>
						<div id="testagaind2"></div>
					</th>
  				</tr>
  				<tr>
    					<th>
						<div id="testagaind3"></div>
					</th>
    					<th>
						<div id="testagaind4"></div>
					</th>
  				</tr>
  				<tr>
    					<th>
						<div id="testagaind5"></div>
					</th>
    					<th>
						<div id="testagaind6"></div>
					</th>
  				</tr>
  				<tr>
    					<th>
						<div id="testagaind7"></div>
					</th>
    					<th>
						<div id="testagaind8"></div>
					</th>
  				</tr>
  				<tr>
    					<th>
						<div id="testagaind9"></div>
					</th>
    					<th>
						<div id="testagaind10"></div>
					</th>
  				</tr>
  				<tr>
    					<th>
						<div id="testagaind11"></div>
					</th>
    					<th>
						<div id="testagaind12"></div>
					</th>
  				</tr>
  				<tr>
    					<th>
						<div id="testagaind13"></div>
					</th>
    					<th>
						<div id="testagaind14"></div>
					</th>
  				</tr>
  				<tr>
    					<th>
						<div id="testagaind15"></div>
					</th>
    					<th>
						<div id="testagaind16"></div>
					</th>
  				</tr>
  				<tr>
    					<th>
						<div id="testagaind17"></div>
					</th>
    					<th>
						<div id="testagaind18"></div>
					</th>
  				</tr>
  				<tr>
    					<th>
						<div id="testagaind19"></div>
					</th>
    					<th>
						<div id="testagaind20"></div>
					</th>
  				</tr>
  				
			</table>
			
		</div>
		 
		</div>
	</div>
    </div>
</div>
