{% load static %}

{% if async_template_loading %}
<div id="statistics_page" class="page_content content-wrapper" style="display:none">
</div>
{% else %}
<div id="statistics_page" class="page_content content-wrapper" style="display:none">

    {% if not debug %}
    <script type="text/javascript" src="{% static "javascript/guindex_stats.min.js" %}"></script>
    {% else %}
    <script type="text/javascript" src="{% static "javascript/guindex_stats.js" %}"></script>
    {% endif %}

    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i>
                Guindex Statistics Table
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table responsive table-bordered" id="GuindexStatisticsTable" width="100%" cellspacing="0">
                    </table>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i>
                 Pubs by County
            </div>
             <div class="card-body">
                <canvas id="myChart" width="250" height="100"></canvas>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i>
                Price of Pint by County
            </div>
             <div class="card-body">
	            <canvas id="myPriceChart" width="250" height="100"></canvas>
            </div>
        </div>
	</div>

    <script>
        document.getElementById('statistics_page').addEventListener('tab_display', populateGuindexStatsTable); 
    </script>
</div>
{% endif %}
