<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static "css/global.css" %}" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald">
    </head>

    <body>

        <h1> {{ project_title }} </h1>

        <div class="content_div">
            <p> Hello {{ username }}, </p>

            <p> {{ project_title }} offers the feature of interaction via Telegram. </p>

            <p> To register to use Telegram, follow the below steps: </p>

            <ol>
                <li> Add {{ telegram_user_parameters.BOT_NAME }} to your Telegram contacts </li>
                <li> Send the following command in a message to {{ telegram_user_parameters.BOT_NAME }}:
                    /activate {{ username }} {{ telegram_activation_key }} 
                </li>
                <li> Confirm that you get a response from the {{ telegram_user_parameters.BOT_NAME }} verifying the activation was successful. </li>
            </ol>
            
            <p> Regards, </p>
            <p> {{ project_title }} Team </p>

        </div>

    </body>

</html>
