<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static "css/global.css" %}" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald">
    </head>

    <body>

        <h1> {{ project_title }} </h1>

        <div class="content_div">
            <p> Hello {{ username }}, </p>

            <p> {{ project_title }} offers the feature of interaction via Telegram. </p>

            <p> To use Telegram with {{ project_title }}, follow the steps below. Your activation key is also shown in User Settings on the website. </p>

            <ol>
                <li> Open <a href="{{ telegram_user_parameters.TELEGRAM_BOT_LINK }}">{{ telegram_user_parameters.TELEGRAM_BOT_LINK }}</a> or search for @{{ telegram_user_parameters.BOT_NAME }} in Telegram </li>
                <li> Send this command to {{ telegram_user_parameters.BOT_NAME }}:
                    /activate {{ telegram_activation_key }}
                </li>
                <li> Confirm you receive a success message from {{ telegram_user_parameters.BOT_NAME }} </li>
            </ol>
            
            <p> Regards, </p>
            <p> {{ project_title }} Team </p>

        </div>

    </body>

</html>
