/***********************/
/* Submit Price Button */
/***********************/
.submit_price_button {
    color: gray;
    display: block;
    position:relative;
    margin: 5px auto;
}

.hoverable {
    cursor: hand;
    cursor: pointer;
}

/**********************/
/* Page Content Links */
/**********************/
.page_content_link:hover {
    cursor:hand;
    cursor:pointer;
    color:black;
    opacity:0.4;
}

/************************/
/* Guindex Map Elements */
/************************/
#map_page {
    margin-bottom: 0;
    padding:0;
}

#add_pub_map_container {
    padding: auto 0;
    margin:0 auto;
    text-align: center;
    height: 550px;
    position:relative;
}

#add_pub_map {
    position: absolute;
    width: 100%;
    height: 90%;
}

#guindex_map_iframe {
    position: relative;
    width: 100%;
    height: 80vh;
}



/*******************/
/* Spinning Loader */
/*******************/
.guindex_web_client_loader {
    color: black;
    display: none;
}

#main_loader_spinner {
    color: white;
}

/***********/
/* Switch */
/**********/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  margin: 5px auto;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*****************/
/* Guindex stars */
/*****************/
.guindex_price_star:hover {
    cursor:hand;
    cursor:pointer;
}

/***************/
/* Particle JS */
/***************/
#particles_js_container {
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    background-color:black;
    top: 0;
    left: 0;
    padding: 0;
}

#main_loader_container {
    text-align: center;
    position: absolute;
    margin: 0 auto;
    top: 45%;
    width: 100%;
    color:white;
}

#main_loader_spinner {
    font-size: 100px;
    display: block !important;
    margin-bottom: 5px;
}

#particles_js_container canvas {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blink {
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

/***********************/
/* Bootstrap overrides */
/***********************/
.btn-primary {
    background-color: black !important;
}

a.page-link {
    color: black !important;
    text-decoration: none;
}

.paginate_button.active a.page-link {
    color: white !important;
    text-decoration: none;
    background-color: black !important;
}

.card-register {
    margin-bottom: 30px;
}

/********************/
/* Overview buttons */
/********************/
.overview_button {
    width: 250px;
    background-color: black !important;
}

.contact_social_media_button {
    width: 100px;
    background-color: black !important;
}

/*******************/
/* Contact buttons */
/*******************/
.contact_social_media_button:hover {
    cursor:hand;
    cursor:pointer;
    opacity:0.4;
}

/*******************/
/* Article styling */
/*******************/
.article_image {
    margin: 20px 5px;
}

/*********/
/* Cards */
/*********/

.card {
    border-width: 3px;
    border-color: lightgrey !important;
}

.card-header {
    background-color: lightgrey !important;
}
