/**************/
/* Main hader */
/**************/
#guindex_header {
    margin-bottom: 0px;
}
.main_menu_bg{
    background-image:url(../images/rsz_1guin1_2_recol2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    background-color: #FfFfff;
    margin-bottom:-0px;
    height: 8vw;
    margin-top:-1vw;
    top:0;
    position:fixed;
    z-index:99;
    width:100%;
    padding: 0;
    margin:0;
}
.navbar{
    width: 55%;
    height: 100%;
    min-width: 3vw;
    min-height: 3vw;
    float:right;
    font-size: 2.2vw;
    margin-top:2.15vw;
    padding: 0;
}


/***************/
/* Logout link */
/***************/

#corner_info {
    position: absolute;
    left: 20px; 
    top: 20px;
    text-align: center;
}

#logout_link {
    text-decoration: none;
    font-size: 40px;
    color: black;
}

#username {
    margin-top: 5px; 
}

/******************************/
/* Flashing Notification Link */
/******************************/
#notification_info {
    position: absolute;
    top: 20px; 
    right: 20px;
    text-align: center;
}

#pending_contributions_link {
    text-decoration: none;
    font-size: 40px;
    color: black;
}

#pending_contributions_link:hover {
    cursor: hand;
    cursor: pointer;
}

#pending_contributions_i:hover:after {
    left:-150px; /* Change title position */
}

#check_pending_notifications {
    margin-top: 5px; 
}

.blink {
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}

/********************************/
/* Pending Contributions Header */
/********************************/
#pending_contributions_header {
    font-family: "Oswald";
    font-size: 20px;
    height: 50px;
}


/********************************/
/* Approve Contribution Button */
/********************************/
.approve_contribution_button:hover {
    cursor:hand;
    cursor:pointer;
}

/**************************/
/* Back to main page link */
/**************************/
#main_page_link {
    text-decoration: none;
    font-size: 40px;
    color: black;
}

/******************************************/
/* Div containing main table and controls */
/******************************************/

#centered_content_div {
    width: 85%;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 800px; 
    overflow: visible;
    display: table;
}

/******************/
/* Add pub button */
/******************/

#add_new_pub_div {
    position: relative;
    font-size: 17px;
    margin-left:  auto;
    margin-right: auto;
    text-align: center;
    font-family: "Oswald";
    width: 100px;
}

#new_pub_modal_open_button {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 40px;
}

#new_pub_modal_open_button:hover {
    cursor: pointer;
    cursor: hand;
}

#new_pub_modal_open_button > i {
    pointer-events: none;
}

/***************************/
/* Guindex Table Container */
/***************************/
#guindex_table_container, #pending_contributions_table_container
{
    text-align:center;
    margin: 20px auto;
    display: table;
}

/**************/
/* Search bar */
/**************/

.search_container {
    width: 50%;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.search_bar {
    width: 95%;
}

.search_icon {
    position: absolute;
    top: 10px;
    right: 25px;
}

/*****************/
/* Guindex Table */
/*****************/
#guindex_table, .pending_contributions_table {
    position: relative;
    width: 99.2%;
    left: 5px;
    margin: 42px 0;
    border: 2px solid black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-collapse: collapse;
    display: table;
    table-layout: fixed;
} 

#guindex_table tr, .pending_contributions_table tr {
    border-bottom: 1px solid black;
}

#guindex_table td, .pending_contributions_table td {
    font-family: "Oswald";
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
}    

#guindex_table i, .pending_contributions_table i {
    font-size: 20px;
}

.first_row > td > .sortable_column_header:hover {
    cursor: hand;
    cursor: pointer;
}

td {
    overflow: visible;
}

.pending_contributions_table caption {

    font-family: "Oswald";
    border: 2px solid black;
    border-bottom: 0px;
    text-align:center;
    font-size: 20px;
    padding: 15px 0;
}

/***********************/
/* Guindex Stats Table */
/***********************/
#guindex_stats_table {
    position: relative;
    width: 40%;
    left: 5px;
    margin: 20px auto;
    border: 2px solid black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-collapse: collapse;
    display: table;
    table-layout: fixed;
} 

#guindex_stats_table td {
    font-family: "Oswald";
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    text-align: center;
}    

/************************/
/* User Setttings Table */
/************************/
#user_settings_table {
    position: relative;
    width: 40%;
    left: 5px;
    margin: 20px auto;
    border: 2px solid black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-collapse: collapse;
    display: table;
    table-layout: fixed;
} 

#user_settings_table td {
    font-family: "Oswald";
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    text-align: center;
}    

/****************************/
/* User Contribution Tables */
/****************************/
#user_contributions_table, #best_contributions_table {
    position: relative;
    width: 40%;
    left: 5px;
    margin: 20px auto;
    border: 2px solid black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-collapse: collapse;
    display: table;
    table-layout: fixed;
} 

#user_contributions_table td, #best_contributions_table td {
    font-family: "Oswald";
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    text-align: center;
}    

.contributions_table_header {
    font-size: 20px !important;
    font-weight: bold !important;
}

/*****************************/
/* Add Guinness price button */
/*****************************/
.guinness_price {
    display: block;
}

.new_guinness_button:hover {
    cursor: hand;
    cursor: pointer;
}

/*******************/
/* Edit Pub Button */
/*******************/
.pub_name {
    display: block;
}

.edit_button_container {
}

.guindex_button_container {
    display: inline-block;
}

.guindex_button_container:hover {
    cursor: hand;
    cursor: pointer;
}

/************/
/* Pub Link */
/************/
.pub_link {
    text-decoration: none;
    color: inherit;
}

/******************/
/* Controls Table */
/******************/

#controls_container {
    position:relative;
    display:block;
    margin: 20px auto;
    text-align: center;
    overflow: visible;
    box-sizing: border-box;
    z-index: 5;
    font-family: "Oswald";
}

#controls_container a {
    width: 120px;
}

/******************************************************/
/* Container of tab content displayed by control tabs */
/******************************************************/

#tab_content_container {
    position:relative;
    display: block;
    width: calc(100%);
    margin: 0 auto;
    box-sizing: border-box;
    overflow:auto;
}

/***********/
/* Switch */
/**********/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  margin: 5px auto;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/****************/
/* Loading page */
/****************/
#loading_background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 99;
    margin: 0;
    top:0;
    font-family: "Oswald";
    text-align:center;
}

#main_guindex_loader {
    display: block;
}

#main_loader_container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/***************/
/* Guindex Map */
/***************/
#guindex_map {
    height: 400px;
    width: 100%;
}

/* floating panel on top of map */
#floating-panel {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 5px;
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */
    background-color: black;
}

#filter-MainArea {
        position: relative;
        top: 0px;
        left: 0px;
        z-index: 5;
        background-color: #fff;
        padding: 0px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 0px;
		
}

/* Style the filter buttons in the flaoting panel */
.btn {
	border: none;
	outline: none;
	padding: 10px 10px;
	background-color: #f1f1f1;
	cursor: pointer;
}

/* Add a grey background to the active (and on mouse over) button */
.btn:hover , .active_button {
	background-color: #ccc;
	width: 100%;
}

.small_loader {
    position: relative;
    border: 5px solid grey; 
    border-top: 5px solid black; 
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    display: none;
}

/**********************************/
/* Pending Contributions Dropdown */
/**********************************/
.dropdown_button:hover {
    cursor:hand;
    cursor:pointer;
}
