/****************/
/* Guindex Logo */
/****************/

/* A lot of hard coding going on here. Edit with caution */

#guindex_logo_container {
    width: 600px;
    height: 200px;
    margin: 30px auto;
    padding: 0px;
    text-align: center;
}

#guindex_image {
    max-width: 100%;
    max-height: 100%;
}
