[Unit]
Description=Periodically calculate Guindex Stats
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/Guindex/GuindexProject
ExecStart=/usr/bin/python /var/www/Guindex/GuindexProject/manage.py GuindexStats

[Install]
WantedBy=multi-user.target
