[Unit]
Description=Guindex Telegram Bot
After=network.target

[Service]
Type=simple
Environment="PYTHONPATH=$PYTHONPATH:/var/www/"
ExecStart=/usr/bin/manage.py GuindexTelegramBot
User=root
Group=root
Restart=always
RestartSec=1
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
