[Unit]
Description=Guindex Gunicorn HTTP Server
After=network.target

[Service]
Type=simple
Environment="PYTHONPATH=$PYTHONPATH:/var/www/"
ExecStart=/usr/bin/gunicorn --workers 3 --bind unix:/var/www/Guindex.sock GuindexProject.wsgi:application
User=root
Group=root
Restart=always
RestartSec=1
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
