[Unit]
Description=Guindex Telegram Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/Guindex/GuindexProject
ExecStart=/usr/bin/python /var/www/Guindex/GuindexProject/manage.py GuindexTelegramBot
User=root
Group=root
Restart=always
RestartSec=1
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
