[Unit]
Description=Guindex Gunicorn HTTP Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/Guindex/GuindexProject
ExecStart=/usr/local/bin/gunicorn --workers 9 --bind unix:/var/www/Guindex/GuindexProject/Guindex.sock GuindexProject.wsgi:application
User=root
Group=root
Restart=always
RestartSec=1
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
