[Unit]
Description=Monitor Guindex Alerts
After=network.target

[Service]
Type=simple
Environment="PYTHONPATH=$PYTHONPATH:/var/www/"
ExecStart=/usr/bin/manage.py GuindexAlerts
User=root
Group=root
Restart=always
RestartSec=1
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
