[Unit]
Description=Script to periodically backup Guindex database
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/Guindex/GuindexProject
ExecStart=/usr/bin/python3 /var/www/Guindex/GuindexProject/manage.py GuindexDbBackup
User=root
Group=root
Restart=always
RestartSec=1
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
