<!doctype html>
<head>
    <meta charset="utf-8">

    <title>Guindex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113016256-1"></script>
    <script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-113016256-1');
    </script>


    <!--Theme custom css -->
    <link rel="stylesheet" href="../static/css/style_new.css">
    {% load static %} 
    <link rel="icon" href="{% static "images/favicon.png" %}"/>
    
	</head>
    <body  data-spy="scroll" data-target="#navmenu">
		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <!--Home page style-->

        <header id="main_menu" class="header navbar-fixed-top">

            <div class="main_menu_bg">
                <ul class="navbar">
                  <a href="../"  class="class1">Overview</a>
                  |
		  <a href="../map/" class="class1">Map</a></li>
		  |
                   <a href="../statistics/" class="class1">Statistics</a>
                   |
                    <a href="." class="class1">Analysis</a>
                    |
                    <a href="../info/" class="class1">About</a>
                    |
                    <a href="../log/" class="class1">Log a Price</a>
                </ul>

                </div>

            </div>
        </header>

<div class="container">
            <div class="centered"><P ALIGN=CENTER><b>Analysis</b></P><HR style="height:0.2vw;background-color:white";/>
            <P ALIGN=LEFT><b> The principal aim of the project is to exaimine whether and if so how geographical and social factors affect the price of a pint of Guinness in county Dublin. </b></P>
            <P ALIGN=LEFT><b> The geographical regions we have considered are 1) Dublin post routing administrative areas and 2) electoral divisions within county Dublin. This analysis is found <a href="./geography/" class="class2">here</a> </b></P>
            <div class="illustration">
            <P ALIGN=CENTER> <p style="float:left; width:35%; margin-left:10%;margin-bottom:0.5em text-align:center;font-size:2.5vw;"> <img src="../static/images/rsz_1dublinpostcodes.png" style="width:100%;">Dublin post routing administrative areas </p> <p style="float:right; width:35%; margin-right:10%;margin-bottom:0.5em text-align:center;font-size:2.5vw;"> <img src="../static/images/rsz_eds.png" style="width:100%;">Dublin electoral divisions</p><p style="clear:both;"></P>
            </div>  
	      <P ALIGN=LEFT><b> The examination of the effect of social factors on Guinness pricing will be carried out once a more complete price distribution has been collected. This analysis will be <a href="./social/"  class="class2">here</a> in the future. </b></P>
             <P ALIGN=LEFT><b> A secondary theme of the project relates to the distribution of the pubs themselves. Interesting problems related to this theme are 1) What is the furthest you can be from a pub in County Dublin? The solution of which can be found <a href="./pubdist/"  class="class2">here</a> and 2) The travelling drunkard problem; what is the route that minimises travel distance and visits every pub within the two circular roads bounding Dublin city centre? The solution of this problem can be found <a href="./travdrnk/"  class="class2">here</a>.  </b></P>
	     <P ALIGN=LEFT><b> We also aim to look at other interesting mathematical problems concerning Guinness, pubs and Dublin. The next thing we plan to do is to analyse Dublin's electoral divisions as an N-colour map problem. If you have any suggestions as to what might be an interesting problem please get in contact. </b></P>
             <P ALIGN=LEFT> <b> <a href="../statistics/" class="class2">Statistics</a> <span style="float:right;"> <a href="../info/" class="class2">About</a></span></b></P>
	     </div>
        </div> 


        <!-- STRAT SCROLL TO TOP -->


       <script src="../static/javascript/jquery-1.11.2.min.js"></script>


        <script src="../static/javascript/main.js"></script>



 </body>
</html>
