<!doctype html>
<head>
    <meta charset="utf-8">

    <title>Guindex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113016256-1"></script>
    <script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-113016256-1');
    </script>



    <!--Theme custom css -->
   <link rel="stylesheet" href="../static/css/style_new.css">
   {% load static %} 
    <link rel="icon" href="{% static "images/favicon.png" %}"/>

</head>
    <body  data-spy="scroll" data-target="#navmenu">
		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <!--Home page style-->

        <header id="main_menu" class="header navbar-fixed-top">

            <div class="main_menu_bg">
                <ul class="navbar">
                  <a href="../" class="class1">Overview</a></li>
		  <a href="../map/" class="class1">Map</a></li>
                  <a href="../statistics/" class="class1">Statistics</a></li>
                  <a href="../analysis/" class="class1">Analysis</a></li>
                  <a href="." class="class1">About</a></li>
                  <a href="../log/" class="class1">Log a Price</a></li>
                </ul>

                </div>

            </div>
        </header>

<div class="container">
            <div class="centered"><P ALIGN=CENTER><b>About</b></P><HR style="height:0.2vw;background-color:white";/>
            <P ALIGN=LEFT><b>The Guindex project was started in August 2017. The project is seen as a labour of love, intended to celebrate the black stuff and its home county Dublin.</b></P>
            <P ALIGN=LEFT> <b> The database of pubs was extracted from openstreetmaps, everything marked as a pub, bar or nightclub was taken. As such it is not-exhaustive and the analysis presented should only be considered as a good approximation to reality. Asymptotic to reality is the best we can hope for.  </b></P>
	    <P ALIGN=LEFT> <b> We have decided (completely arbitrarily) the criteria for a pub; it must serve pints, be open to the public, have regular hours and in the cases where there is a cover charge further pinting should be the primary motivation to paying that charge. So for those reasons hotel bars are in, as are sports club bars provided they don't require club memberships. Bars at concert venues are out, as are those at sporting events. We are certainly missing many pubs so if you notice one in particular be sure to add it yourself to the database. </b></P>
            <P ALIGN=LEFT> <b>The project began with just three of us but in the five months since the project has grown to comprise fifteen Guinness enthusiasts.</b> </P>
            <P ALIGN=LEFT> <b> The project members are all twenty-somethings, primarily from quantitative fields (physics, maths, chemistry and computer science) .</b> </P>
            <P ALIGN=LEFT> <b> The project will never be complete, but to get a more complete picture of the price distributions around county Dublin we need your help.</b> </P>
            <P ALIGN=LEFT> <b> <a href="../analysis/" class="class2">Analysis</a> <span style="float:right;"> <a href="../links/" class="class2">Links we like</a></span></b></P>
            </div>
        </div> 


        <!-- STRAT SCROLL TO TOP -->


       <script src="../static/javascript/jquery-1.11.2.min.js"></script>


        <script src="../static/javascript/main.js"></script>




 </body>
</html>
