<!doctype html>
<head>
    <meta charset="utf-8">

    <title>Links we Like</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113016256-1"></script>
    <script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-113016256-1');
    </script>



    <!--Theme custom css -->
   <link rel="stylesheet" href="../static/css/style_new.css">
   {% load static %} 
    <link rel="icon" href="{% static "images/favicon.png" %}"/>

</head>
    <body data-spy="scroll" data-target="#navmenu">
		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <!--Home page style-->

        <header id="main_menu" class="header navbar-fixed-top">

            <div class="main_menu_bg">
                <ul class="navbar">
                   <a href="../" class="class1">Overview</a>
                   |
		   <a href="../map/" class="class1">Map</a></li>
		   |
                   <a href="../statistics/" class="class1">Statistics</a>
                   |
                   <a href="../analysis/" class="class1">Analysis</a>
                   |
                   <a href="../info/" class="class1">About</a>
                   |
                   <a href="../log/" class="class1">Log a Price</a>
                </ul>
                </div>
            </div>
        </header><!--End of header -->

<div class="container">
          
            <div class="centered"><P ALIGN=CENTER><b>Links we Like</b></P><HR style="height:0.2vw;background-color:white";/>
            <P><b>Here are a collection of some links that we like:</b></P>
            <P><b><a href="http://publin.ie" class="class2">Publin</a>: A website dedicated to the pubs of Dublin.</b></P>
            <P><b><a href="https://comeheretome.com/" class="class2">Come Here to Me</a>: A blog that examines various aspects of Dublin's social history.</b></P>
            <P><b><a href="http://pintsinthesun.co.uk/" class="class2">Pints in the Sun</a>: A website that let's you find pubs that catch the evening sunshine.</b></P>
            <P ALIGN=LEFT> <a href="../info/" class="class2">About</a> <span style="float:right;"> <a href="../test/" class="class2">test</a></span>
            
            
            </div>
        </div> 


        <!-- STRAT SCROLL TO TOP -->


      <script src="../static/javascript/jquery-1.11.2.min.js"></script>


        <script src="../static/javascript/main.js"></script>





 </body>
</html>
