<!doctype html>
<head>
    <meta charset="utf-8">

    <title>Guindex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113016256-1"></script>
    <script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-113016256-1');
    </script>



    <!--Theme custom css -->
   <link rel="stylesheet" href="../static/css/style_new.css">
   {% load static %} 
    <link rel="icon" href="{% static "images/favicon.png" %}"/>

</head>
    <body data-spy="scroll" data-target="#navmenu">
		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <!--Home page style-->

        <header id="main_menu" class="header navbar-fixed-top">

            <div class="main_menu_bg">
                <ul class="navbar">
                   <a href="../" class="class1">Overview</a>
                   |
		   <a href="../map/" class="class1">Map</a></li>
		   |
                   <a href="." class="class1">Statistics</a>
                   |
                   <a href="../analysis/" class="class1">Analysis</a>
                   |
                   <a href="../info/" class="class1">About</a>
                   |
                   <a href="../log/" class="class1">Log a Price</a>
                </ul>
                </div>
            </div>
        </header><!--End of header -->

<div class="container">
          
            <div class="centered"><P ALIGN=CENTER><b>Statistics</b></P><HR style="height:0.2vw;background-color:white";/>
            <P><b>This tab gives a preliminary look at the collected data. We have calculated some figures of merit to quantify the distribution of collected data. These figures are displayed in the first table below:</b></P>
            <P Align=center><table color=black style="width:50%; float:center; margin-bottom:3vw">
	    <caption>Price Statistics</caption>
	    
	   <tr>
	    <td><b>Average</b></td>
	    <td>€5.15</td>
	    </tr>
	    <tr>
	    <td><b>Standard Deviation</b></td>
	    <td>€0.42</td></tr>
	    </table></P>
	    
           <P><b> We are particularly interested to discover the pubs that have excelled and those that have brought shame on themselves with respect to their pricing of Guinness pints.</b></P>
	    <P ALign=Left><b> The two tables below show the five pubs at either end of the Guinness price spectrum thus far: </b></P>
	    <table color=black style="width:50%; float:left; margin-bottom:3vw">
	    <caption>Five Cheapest Pints in Guindex</caption>
	    
	   <tr>
	    <th>Pub Name</th>
	    <th>Guinness Price</th>
	    </tr>
	    <tr>
	    <td>Snug Bar</td>
	    <td>€3.70</td></tr>
	    <tr>
	    <td>Caulfield's Hotel Bar</td>
	    <td>€3.80</td></tr>
	    <tr>
	    <td>The Portobello Bar</td>
	    <td>€4.00</td></tr>
	    <tr>
	    <td>The Clock</td>
	    <td>€4.00</td></tr>
	    <tr>
	    <td>The Pimlico Tavern</td>
	    <td>€4.20</td></tr>
	    </table><table style="width:50%; float:left; margin-bottom:3vw">
	    <caption>Five Dearest Pints in Guindex</caption>
	    </tr><tr>
	    <th>Pub Name</th>
	    <th>Guinness Price</th>
	    </tr>
	    <tr>
	    <td>The Old Storehouse</td>
	    <td>€6.70</td></tr>
	    <tr>
	    <td>The Temple Bar</td>
	    <td>€6.60</td></tr>
	    <tr>
	    <td>The Oliver St John Gogarty</td>
	    <td>€6.50</td></tr>
	    <tr>
	    <td>The Auld Dubliner</td>
	    <td>€6.50</td></tr>
	    <tr>
	    <td>Café en Seine</td>
	    <td>€6.30</td></tr></table>
	    </b>
	   
	    <P Align=Left><b>The Snug Bar on upper stephen street is the cheapest pint thus far! It along with Caulfield's hotel bar on Dorset street are the bastions of sub four euro Guinness in county Dublin. Unsurprisingly four of the top five most expensive pubs collected thus far have come from Temple Bar. Temple Bar is the scourge of all our pockets and is best avoided. </b></P>
            <P ALIGN=LEFT> <b>We can also look at the overall Guinness price distribution of the data collected so far, it'd be neat if the data followed the Student's t-distribution (essentially indistinguishable from a normal distribution for this number of samples) because of the historical connection between Guniness and that distribution. We look at this distribution below: </b></P>
            <P Align=Center> <img src="../static/images/distribution.png" style="width:50%";></P>
            <P ALIGN=LEFT><b> The Guinness price distribution is shown as a stacked pint histogram of the prices collected so far, the corresponding Student's t-distribution (same average, same standard deviation, degrees of freedom = number of prices collected -1 and scaled to match maximum of histogram) is displayed also in blue. We can see that, unfortunately, the Guinness distribution is quite non-normal. The Guinness distribution is considerably more centrally peaked between €5.00-€5.30 than the corresponding t-distribution.</b> </P>
            <P ALIGN=LEFT> <b> <a href="../" class="class2">Overview</a> <span style="float:right;"> <a href="../analysis/" class="class2">Analysis</a></span></b></P>
            </div>
        </div> 



        <!-- STRAT SCROLL TO TOP -->


      <script src="../static/javascript/jquery-1.11.2.min.js"></script>


        <script src="../static/javascript/main.js"></script>





 </body>
</html>
